@using Pertamina.IRIS.Models.Base
@inject GlobalVariableBaseModel globalParam
@model Pertamina.IRIS.Models.ViewModels.ExternalContactViewModel

@{
    ViewData["Title"] = "Add ExternalContact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<input type="hidden" id="hdnExternalContactId" value="@Model.Id" />
<div class="app-main flex-column flex-row-fluid">
    <div class="d-flex flex-column flex-column-fluid">
        <div class="app-toolbar py-3 py-lg-6">
            <div class="app-container container-xxl d-flex flex-stack">
                <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
                    <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">Add External Contact </h1>
                </div>
            </div>
        </div>
        <div class="app-content flex-column-fluid">
            <div class="app-container container-xxl">
                <form id="DuplicateFormExternalContact" class="form" action="#" autocomplete="off">
                    <div class="card card-custom">
                        <div class="card-header">
                            <div class="card-body">
                                <div class="form-group row">
                                    <div class="col-lg-6">
                                        <div class="fv-row mb-10">
                                            <label for="duplicatenamaCompanyInput" class="required form-label">Nama Perusahaan / Lembaga</label>
                                            @Html.TextBoxFor(x => x.NamaCompany,
                                            new
                                            {
                                            @id = "duplicatenamaCompanyInput",
                                            @class = "form-control form-control-solid",
                                            maxlength = 200,
                                            placeholder = "Masukkan Nama Perusahaan / Lembaga",
                                            })
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="fv-row mb-10">
                                            <label for="duplicateemailCompanyInput" class="form-label">Email Perusahaan / Lembaga</label>
                                            @Html.TextBoxFor(x => x.EmailCompany,
                                            new
                                            {
                                            @id = "duplicateemailCompanyInput",
                                            @class = "form-control form-control-solid",
                                            maxlength = 100,
                                            placeholder = "Masukkan Email Perusahaan / Lembaga",
                                            })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-6">
                                        <div class="fv-row mb-10">
                                            <label for="duplicatealamatCompanyInput" class="required form-label">Alamat Perusahaan / Lembaga</label>
                                            @Html.TextBoxFor(x => x.AlamatCompany,
                                            new
                                            {
                                            @id = "duplicatealamatCompanyInput",
                                            @class = "form-control form-control-solid",
                                            maxlength = 400,
                                            placeholder = "Masukkan Alamat Perusahaan / Lembaga",
                                            })
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="fv-row mb-10">
                                            <label for="duplicateremarkInput" class="form-label">Remarks</label>
                                            @Html.TextBoxFor(x => x.Remark,
                                            new
                                            {
                                            @id = "duplicateremarkInput",
                                            @class = "form-control form-control-solid",
                                            maxlength = 500,
                                            placeholder = "Masukkan Remarks",
                                            })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body" style="padding-top: 7px;">
                            <div>
                                <strong style="color:#FF0000; font-size:11px;">Minimum of 1 PIC data is required for this process</strong>
                            </div>
                            <div id="duplicateRepeaterPic" style="padding-top: 20px";>
                                <div class="form-group row">
                                    <div data-repeater-list="dataPic">
                                        <div data-repeater-item class="picDuplicate mb-2">
                                            <div class="fv-row form-group row">
                                                <div class="col-lg-3">
                                                    <label for="duplicatenamaPicInput" class="required form-label">Nama PIC</label>
                                                    @Html.TextBoxFor(x => x.Person.NamaPerson,
                                                    new
                                                    {
                                                    @id = "duplicatenamaPicInput",
                                                    @class = "form-control form-control-solid",
                                                    maxlength = 100,
                                                    placeholder = "Masukkan Nama PIC",
                                                    })
                                                </div>
                                                <div class="col-lg-3">
                                                    <label for="duplicatejabatanPicInput" class="required form-label">Jabatan PIC</label>
                                                    @Html.TextBoxFor(x => x.Person.JabatanPerson,
                                                    new
                                                    {
                                                    @id = "duplicatejabatanPicInput",
                                                    @class = "form-control form-control-solid",
                                                    maxlength = 100,
                                                    placeholder = "Masukkan Jabatan PIC",
                                                    })
                                                </div>
                                                <div class="col-lg-3">
                                                    <label for="duplicateemailPicInput" class="required form-label">Email PIC</label>
                                                    @Html.TextBoxFor(x => x.Person.EmailPerson,
                                                    new
                                                    {
                                                    @id = "duplicateemailPicInput",
                                                    @class = "form-control form-control-solid",
                                                    maxlength = 255,
                                                    placeholder = "Masukkan Email PIC",
                                                    })
                                                </div>
                                                <div class="col-lg-3">
                                                    <label for="duplicatenoTelpPicInput" class="required form-label">No HP PIC</label>
                                                    @Html.TextBoxFor(x => x.Person.NoTelpPerson,
                                                    new
                                                    {
                                                    @id = "duplicatenoTelpPicInput",
                                                    @class = "form-control form-control-solid",
                                                    maxlength = 25f,
                                                    placeholder = "Cth: +6287123123123",
                                                    //oninput = "onlynum('duplicatenoTelpPicInput')"
                                                    })
                                                </div>
                                                <div class="col-lg-4">
                                                    <button class="border border-secondary btn btn-icon btn-flex btn-danger" data-repeater-delete type="button">
                                                        <i class="la la-close"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-group mt-5">
                                        <a href="javascript:;" data-repeater-create class="btn font-weight-bold btn-warning">
                                            <i class="ki-duotone ki-plus fs-3"></i>
                                            Add PIC
                                        </a>
                                    </div>
                                    <div class="col"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="app-content flex-row-fluid">
                <div class="row">
                    <div class="col" align="right" style="padding-right: 40px;">
                        <button id="btnCancel" type="submit" class="btn font-weight-bold btn-secondary" onclick="location.href='@Url.Action("Index", "ExternalContact")'">
                            Cancel
                        </button>
                        <button id="AddDuplicateSubmitExternalContact" type="submit" class="btn font-weight-bold btn-primary mr-2" data-url="@Url.Action("AddDuplicateForm","ExternalContact")" data-callbackurl="@Url.Action("Index", "ExternalContact")">
                            <span class="indicator-label">
                                Submit
                            </span>
                            <span class="indicator-progress">
                                Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



@section Scripts{
    <script>
        var param = (function (param) {
            param.prefix = '@globalParam.PrefixApiUrl';
            return param;
        })(param || {});
    </script>
    <script src="~/js/form/base-url-api.js"></script>
    <script src="~/js/form/externalContact.js"></script>

}
