@using Pertamina.IRIS.Models.Base
@inject GlobalVariableBaseModel globalParam
@model Pertamina.IRIS.Models.ViewModels.AgreementViewModel

@{
    ViewData["Title"] = "Agreement";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

<input type="hidden" id="hdnAgreementId" value="@Model.Id" />
<div class="app-main flex-column flex-row-fluid">
    <div class="d-flex flex-column flex-column-fluid">
        <div class="app-toolbar py-3 py-lg-6">
            <div class="app-container container-xxl d-flex flex-stack">
                <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
                    <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">EDIT AGREEMENT </h1>
                </div>
            </div>
        </div>
        <div class="app-content flex-column-fluid">
            <div class="app-container container-xxl">
                <form id="EditFormAgreement" class="form" action="#" autocomplete="off">
                    <div class="row">
                        <div class=" row">
                            <div class="col-lg-6">
                                <div class="flex-column-fluid">
                                    <div class="card card-custom">
                                        <div class="card-header">
                                            <div class="row">
                                                <h3 class="card-title">
                                                    HEADER
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="fv-row mb-10">
                                                <label for="judulPerjanjianInputEdit" class="required form-label">Agreement Title</label>
                                                <span class="ms-1" data-bs-toggle="tooltip" title="This column refers to the title of the agreement">
                                                    <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                                        <span class="path1"></span>
                                                        <span class="path2"></span>
                                                        <span class="path3"></span>
                                                    </i>
                                                </span>
                                                @Html.TextBoxFor(m => m.JudulPerjanjian, new
                                                    {
                                                        @id = "judulPerjanjianInputEdit",
                                                        @class = "form-control form-control-solid",
                                                        placeholder = "Enter Agreement Title"
                                                    })
                                            </div>
                                            <div class="fv-row mb-10">
                                                @*@Html.HiddenFor(m=>m.JenisPerjanjianId)*@
                                                <input type="hidden" value="@Model?.JenisPerjanjianId" id="hdnJenisPerjanjianId">
                                                <label for="jenisPerjanjianInputEdit" class="required form-label">Agreement Type</label>
                                                <span class="ms-1" data-bs-toggle="tooltip" title="This column refers to the type of agreement">
                                                    <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                                        <span class="path1"></span>
                                                        <span class="path2"></span>
                                                        <span class="path3"></span>
                                                    </i>
                                                </span>
                                                @Html.DropDownListFor(x => x.JenisPerjanjianId,
                                                         new SelectList(Enumerable.Empty<SelectListItem>()),
                                                         new
                                                         {
                                                             @id = "jenisPerjanjianInputEdit",
                                                             @class = " form-control form-select form-select-solid form-select-lg",
                                                             aria_label = "jenisPerjanjianInputEdit",
                                                             data_control = "select2",
                                                             data_placeholder = "Enter Agreement Type",
                                                             data_allow_clear = "true"
                                                         })
                                            </div>
                                            <div class="fv-row mb-10">
                                                <input type="hidden" value="@Model.AgreementEntitasPertamina?.AgreementId" id="hdnEntitasId">
                                                <label for="hshEntitasPertaminaInputEdit" class="required form-label">Holding/Sub Holding - Pertamina Entity</label>
                                                <span class="ms-1" data-bs-toggle="tooltip" title="This column refers to the holding of the agreement">
                                                    <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                                        <span class="path1"></span>
                                                        <span class="path2"></span>
                                                        <span class="path3"></span>
                                                    </i>
                                                </span>
                                                @Html.DropDownListFor(x => x.EntitasPertaminaEvent,
                                                         new MultiSelectList(Enumerable.Empty<SelectListItem>()),
                                                         new
                                                         {
                                                             @id = "hshEntitasPertaminaInputEdit",
                                                             @class = "form-select form-select-solid form-select-lg fw-semibold",
                                                             aria_label = "hshEntitasPertaminaInputEdit",
                                                             data_control = "select2",
                                                             data_placeholder = "Pilih Holding/Sub Holding - Pertamina Entity",
                                                             data_allow_clear = "true"
                                                         })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="app-content flex-column-fluid">
                                    <div class="card card-custom">
                                        <div class="card-header">
                                            <div class="row">
                                                <h3 class="card-title">
                                                    PIC INFORMATION
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="form-group row">
                                                <div class="fv-row col-lg-5">
                                                    @if (@Model.AgreementPicFungsi != null)
                                                    {
                                                        <input type="hidden" value="@Model.AgreementPicFungsi.PicFungsiId" id="hdnPicInput"></input>
                                                    }
                                                    <label for="editPicInput" class="required form-label">Fungsi - PIC</label>
                                                    <span class="ms-1" data-bs-toggle="tooltip" title="This column refers to the name of the project PIC">
                                                        <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                                            <span class="path1"></span>
                                                            <span class="path2"></span>
                                                            <span class="path3"></span>
                                                        </i>
                                                    </span>
                                                    @Html.DropDownListFor(x => x.PicFungsiId,
                                                             new MultiSelectList(Enumerable.Empty<SelectListItem>()),
                                                             new
                                                             {
                                                                 @id = "editPicInput",
                                                                 @name = "EditPicFungsiId",
                                                                 @class = "form-select form-select-solid form-select-md fw-semibold",
                                                                 data_placeholder = "Choose PIC Lead - Function Name - Company",
                                                                 data_control = "select2",
                                                             })
                                                </div>
                                                <div class="fv-row col-lg-5">
                                                    @Html.HiddenFor(x => x.PicLevelId, new { @id = "picLevelId" })
                                                    <label for="editPicLevelInput" class="required form-label">PIC Level</label>
                                                    <span class="ms-1" data-bs-toggle="tooltip" title="This column refers to the level of the selected PIC">
                                                        <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                                            <span class="path1"></span>
                                                            <span class="path2"></span>
                                                            <span class="path3"></span>
                                                        </i>
                                                    </span>
                                                    @Html.TextBoxFor(x => x.PicLevelName,
                                                             new
                                                             {
                                                                 @id = "editPicLevelInput",
                                                                 @name = "EditPicLevelId",
                                                                 @class = "form-control form-control-solid",
                                                                 data_placeholder = "Choose PIC Level Lead",
                                                                 @readonly = "readonly",
                                                             })
                                                </div>
                                            </div>
                                            <div class="form-group mt-5">
                                                <div id="editRepeaterPic">
                                                    @Html.HiddenFor(x => x.PicLevelMemberId, new { @id = "picLevelMemberId" })
                                                    <div class="form-group">
                                                        <div data-repeater-list="EditPicName">
                                                            <div data-repeater-item class="editPic mb-2">
                                                                <div class="form-group row">
                                                                    <div class="fv-row col-lg-5 editPicFungsi">
                                                                        @Html.DropDownListFor(x => x.AgreementPicFungsi.PicFungsiId,
                                                                                 new MultiSelectList(Enumerable.Empty<SelectListItem>()),
                                                                                 new
                                                                                 {
                                                                                     @id = "editPicFungsiMemberInput",
                                                                                     @name = "EditPicMemberFungsiId",
                                                                                     @class = "form-select form-select-solid form-select-md fw-semibold editFungsiPicMember",
                                                                                     aria_label = "Choose PIC - Function Name - Company",
                                                                                     data_placeholder = "Choose PIC Member - Function Name - Company",
                                                                                 })
                                                                    </div>
                                                                    <div class="fv-row col-lg-5">
                                                                        @Html.TextBoxFor(x => x.PicLevelNameMember,
                                                                                 new
                                                                                 {
                                                                                     @id = "editPicLevelMemberInput",
                                                                                     @name = "EditPicMemberLevelId",
                                                                                     @class = "form-control form-control-solid editLevelPicMember",
                                                                                     maxlength = 6000,
                                                                                     placeholder = "Choose PIC Level Member",
                                                                                     @readonly = "readonly",
                                                                                 })
                                                                    </div>
                                                                    <div class="col-lg-2 d-flex align-items-end">
                                                                        <button class="border border-secondary btn btn-icon btn-flex btn-danger" data-repeater-delete type="button">
                                                                            <i class="la la-close"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group mt-5">
                                                            <a href="javascript:;" data-repeater-create class="btn font-weight-bold btn-warning" id="editPICButton">
                                                                <i class="ki-duotone ki-plus fs-3"></i>
                                                                Add PIC Function
                                                            </a>
                                                        </div>
                                                        <div class="col"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex-column-fluid">
                                    <div class="card card-custom">
                                        <div class="card-header">
                                            <div class="row">
                                                <h3 class="card-title">
                                                    PROJECT VALUE
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="fv-row mb-10">
                                                <label for="TransactionValueEdit" class=" form-label">Transaction Value</label>
                                                <span class="ms-1" data-bs-toggle="tooltip" title="This column refers to the transaction value of the agreement ">
                                                    <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                                        <span class="path1"></span>
                                                        <span class="path2"></span>
                                                        <span class="path3"></span>
                                                    </i>
                                                </span>
                                                @Html.TextBoxFor(m => m.PotentialRevenuePerYearToString, new
                                                    {
                                                        @id = "transactionInputEdit",
                                                        @class = "form-control form-control-solid",
                                                        @type = "text",
                                                        placeholder = "Enter Revenue",
                                                        maxlength = 15,
                                                    })
                                            </div>
                                            <div class="fv-row mb-10">
                                                <label for="projectCostEdit" class="form-label">Project Cost</label>
                                                <span class="ms-1" data-bs-toggle="tooltip" title="This column refers to the cost of the agreement">
                                                    <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                                        <span class="path1"></span>
                                                        <span class="path2"></span>
                                                        <span class="path3"></span>
                                                    </i>
                                                </span>
                                                @Html.TextBoxFor(m => m.CapexToString, new
                                                    {
                                                        @id = "projectCostInputEdit",
                                                        @class = "form-control form-control-solid",
                                                        @type = "text",
                                                        placeholder = "Enter Project Cost",
                                                        maxlength = 15,
                                                    })
                                            </div>
                                            <div class="fv-row mb-10">
                                                <label for="nilaiProyekInputEdit" class="form-label">Valuation (USD)</label>
                                                <span class="ms-1" data-bs-toggle="tooltip" title="This column refers to the estimation of the agreement">
                                                    <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                                        <span class="path1"></span>
                                                        <span class="path2"></span>
                                                        <span class="path3"></span>
                                                    </i>
                                                </span>
                                                @Html.TextBoxFor(m => m.ValuationToString, new
                                                    {
                                                        @id = "nilaiProyekInputEdit",
                                                        @class = "form-control form-control-solid",
                                                        @type = "text",
                                                        placeholder = "Enter Valuation",
                                                        maxlength = 15,
                                                    })
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="app-content flex-row-fluid">
                                    <div class="card card-custom">
                                        <div class="card-header">
                                            <div class="row">
                                                <h3 class="card-title">
                                                    RELATIONSHIP WITH GOVERNMENT
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="fv-row mb-10">
                                                <label for="dukunganPemerintahInputEdit" class=" form-label">Required Support form the Government</label>
                                                <span class="ms-1" data-bs-toggle="tooltip" title="This column refers to information on support required from the government">
                                                    <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                                        <span class="path1"></span>
                                                        <span class="path2"></span>
                                                        <span class="path3"></span>
                                                    </i>
                                                </span>
                                                @Html.TextAreaFor(m => m.SupportPemerintah, new
                                                    {
                                                        @id = "dukunganPemerintahInputEdit",
                                                        @class = "form-control form-control-solid",
                                                        placeholder = "Enter Required Support from the Government",
                                                        maxlength = 6000
                                                    })
                                            </div>
                                            <div class="fv-row mb-10">
                                                <input type="hidden" value="@Model.AgreementKementrianLembaga?.AgreementId" id="hdnKementrianLembagaId">
                                                <label for="keterlibatanLembagaInputEdit" class=" form-label">Ministry / Agency Involvement</label><label style="padding-left: 10px;color: red;font-weight: bold;">Can select more than one</label>
                                                <span class="ms-1" data-bs-toggle="tooltip" title="This column refers to information on support from government agencies">
                                                    <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                                        <span class="path1"></span>
                                                        <span class="path2"></span>
                                                        <span class="path3"></span>
                                                    </i>
                                                </span>
                                                @Html.DropDownListFor(x => x.KementrianLembagaIds,
                                                         new MultiSelectList(Enumerable.Empty<SelectListItem>()),
                                                         new
                                                         {
                                                             @id = "keterlibatanLembagaInputEdit",
                                                             @class = "form-select form-select-solid form-select-lg fw-semibold",
                                                             aria_label = "keterlibatanLembagaInputEdit",
                                                             data_control = "select2",
                                                             data_placeholder = "Choose Ministry / Agency Involvement",
                                                             data_allow_clear = "true"
                                                         })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex-row-fluid">
                                    <div class="card card-custom">
                                        <div class="card-header">
                                            <div class="row">
                                                <h3 class="card-title">
                                                    ESCALATION POTENTIAL
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="fv-row mb-10">
                                                <label for="potensialEskalasiInputEdit" class=" form-label">Escalation Potential</label>
                                                <span class="ms-1" data-bs-toggle="tooltip" title="This column refers to information on potential escalation">
                                                    <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                                        <span class="path1"></span>
                                                        <span class="path2"></span>
                                                        <span class="path3"></span>
                                                    </i>
                                                </span>
                                                @Html.TextAreaFor(m => m.PotensiEskalasi, new
                                                    {
                                                        @id = "potensialEskalasiInputEdit",
                                                        @class = "form-control form-control-solid",
                                                        placeholder = "Enter Escalation Potential",
                                                        maxlength = 6000
                                                    })
                                            </div>
                                            <div class="fv-row mb-10">
                                                <label for="catatanTambahanInputEdit" class=" form-label">Additional Note</label>
                                                <span class="ms-1" data-bs-toggle="tooltip" title="This column refers to information on additional notes">
                                                    <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                                        <span class="path1"></span>
                                                        <span class="path2"></span>
                                                        <span class="path3"></span>
                                                    </i>
                                                </span>
                                                @Html.TextAreaFor(m => m.CatatanTambahan, new
                                                    {
                                                        @id = "catatanTambahanInputEdit",
                                                        @class = "form-control form-control-solid",
                                                        placeholder = "Enter Additional Note",
                                                        maxlength = 6000
                                                    })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-6">
                                <div class="flex-row-fluid">
                                    <div class="card card-custom">
                                        <div class="card-header">
                                            <div class="row">
                                                <h3 class="card-title">
                                                    PROJECT INFORMATION
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="fv-row mb-10">
                                                <div id="editAddendumDate">
                                                    <div class="form-group">
                                                        <input type="hidden" value="@Model.IsAddendum?" id="hdnIsAddendumId">
                                                        <label for="editAddendumDate" class="form-label">Amandement Date</label>
                                                        <span class="ms-1" data-bs-toggle="tooltip" title="This column refers to the extension of the project duration or a new contract (can be more than one)">
                                                            <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                                                <span class="path1"></span>
                                                                <span class="path2"></span>
                                                                <span class="path3"></span>
                                                            </i>
                                                        </span>
                                                        <div data-repeater-list="AddendumDate">
                                                            <div data-repeater-item class="addendumDateEdit mb-2">
                                                                <div class="fv-row form-group row">
                                                                    <div class="fv-row col-lg-5">
                                                                        @Html.TextBoxFor(m => m.SequenceAmandement, "{0:MM-dd-yyyy}", new
                                                                            {
                                                                                @id = "sequenceTtdInputEdit",
                                                                                @class = "form-control form-control-solid addendumSequenceDateClass",
                                                                                maxlength = 200,
                                                                                placeholder = "Choose Signature Date",
                                                                                @readonly = "readonly",
                                                                            })
                                                                    </div>
                                                                    <div class="fv-row col-lg-5">
                                                                        @Html.TextBoxFor(m => m.AmandementDate, "{0:MM-dd-yyyy}", new
                                                                            {
                                                                                @id = "amandementTtdInputEdit",
                                                                                @class = "form-control form-control-solid addendumDateClass",
                                                                                maxlength = 200,
                                                                                placeholder = "Choose Signature Date"
                                                                            })
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <button class="border border-secondary btn btn-icon btn-flex btn-danger data-repeater-delete-amandement" data-repeater-delete type="button">
                                                                            <i class="la la-close"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="form-group mt-5">
                                                            <a href="javascript:;" data-repeater-create class="btn font-weight-bold btn-warning data-repeater-create-amandement">
                                                                <i class="ki-duotone ki-plus fs-3"></i>
                                                                Add Amandement Date
                                                            </a>
                                                        </div>
                                                        <div class="col"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="fv-row mb-10">
                                                <input type="hidden" value="@Model.AgreementNegaraMitra?.AgreementId" id="hdnNegaraId">
                                                <label for="negaraMitraInputEdit" class="required form-label">Partner Region</label>
                                                <span class="ms-1" data-bs-toggle="tooltip" title="This column refers to the project area">
                                                    <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                                        <span class="path1"></span>
                                                        <span class="path2"></span>
                                                        <span class="path3"></span>
                                                    </i>
                                                </span>
                                                @Html.DropDownListFor(x => x.NegaraMitraId,
                                                         new MultiSelectList(Enumerable.Empty<SelectListItem>()),
                                                         new
                                                         {
                                                             @id = "negaraMitraInputEdit",
                                                             @class = "form-select form-select-solid form-select-lg fw-semibold",
                                                             aria_label = "negaraMitraInputEdit",
                                                             data_control = "select2",
                                                             data_placeholder = "Choose Partner Region",
                                                             data_allow_clear = "true"
                                                         })
                                            </div>
                                            <div class="fv-row mb-10">
                                                <div id="editRepeaterLokasiProyek">
                                                    <div class="form-group">
                                                        <label for="editlokasiProyekProvInput" class="required form-label">Project Location</label>
                                                        <span class="ms-1" data-bs-toggle="tooltip" title="This column refers to the project location (can be more than one)">
                                                            <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                                                <span class="path1"></span>
                                                                <span class="path2"></span>
                                                                <span class="path3"></span>
                                                            </i>
                                                        </span>
                                                        <div data-repeater-list="LokasiProyek">

                                                            <div data-repeater-item class="lokasiProyekEdit mb-2">
                                                                <div class="fv-row form-group row">
                                                                    <div class="col-md-10">
                                                                        @Html.TextBoxFor(x => x.AgreementLokasiProyek.LokasiProyek,
                                                                                 new
                                                                                 {
                                                                                     @id = "editlokasiProyekProvInput",
                                                                                     @name = "LokasiProyek",
                                                                                     @class = "form-control form-control-solid",
                                                                                     maxlength = 100,
                                                                                     placeholder = "Project Location"
                                                                                 })
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <button class="border border-secondary btn btn-icon btn-flex btn-danger" data-repeater-delete type="button">
                                                                            <i class="la la-close"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="form-group mt-5">
                                                            <a href="javascript:;" data-repeater-create class="btn font-weight-bold btn-warning">
                                                                <i class="ki-duotone ki-plus fs-3"></i>
                                                                Add Project Location
                                                            </a>
                                                        </div>
                                                        <div class="col"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="fv-row mb-10">
                                                <label for="rangeTanggalTtdInputEdit" class="required form-label">Signature Date</label>
                                                <span class="ms-1" data-bs-toggle="tooltip" title="This column refers to the agreement signing date">
                                                    <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                                        <span class="path1"></span>
                                                        <span class="path2"></span>
                                                        <span class="path3"></span>
                                                    </i>
                                                </span>
                                                @Html.TextBoxFor(m => m.TanggalTtd, "{0:MM-dd-yyyy}", new
                                                    {
                                                        @id = "rangeTanggalTtdInputEdit",
                                                        @class = "form-control form-control-solid",
                                                        maxlength = 200,
                                                        placeholder = "Choose Signature Date"
                                                    })
                                            </div>
                                            <div class="fv-row mb-10">
                                                <label for="rangeTanggalBerakhirInputEdit" class="required form-label">End Date</label>
                                                <span class="ms-1" data-bs-toggle="tooltip" title="This column refers to the agreement end date">
                                                    <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                                        <span class="path1"></span>
                                                        <span class="path2"></span>
                                                        <span class="path3"></span>
                                                    </i>
                                                </span>
                                                @Html.TextBoxFor(m => m.TanggalBerakhir, "{0:MM-dd-yyyy}", new
                                                    {
                                                        @id = "rangeTanggalBerakhirInputEdit",
                                                        @class = "form-control form-control-solid",
                                                        maxlength = 200,
                                                        placeholder = "Choose End Date"
                                                    })
                                            </div>
                                            <div class="fv-row mb-10">
                                                <label for="statusBerlakuInputEdit" class=" form-label">Valid Status</label>
                                                <span class="ms-1" data-bs-toggle="tooltip" title="This column refers to the validity status of the agreement">
                                                    <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                                        <span class="path1"></span>
                                                        <span class="path2"></span>
                                                        <span class="path3"></span>
                                                    </i>
                                                </span>
                                                @Html.TextBoxFor(m => m.StatusBerlakuName, new
                                                    {
                                                        @id = "statusBerlakuInputEdit",
                                                        @class = "form-control form-control-solid",
                                                        maxlength = 200,
                                                        placeholder = "Enter Valid Status"
                                                    })
                                                @Html.HiddenFor(m => m.StatusBerlakuId, new
                                                    {
                                                        @id = "statusBerlakuValueInputEdit"
                                                    })
                                            </div>
                                            <div class="fv-row mb-10">
                                                <input type="hidden" value="@Model?.DiscussionStatusId" id="hdnStatusDiskusiId">
                                                <label for="statusDiskusiInputEdit" class="required form-label">Disscussion Status</label>
                                                <span class="ms-1" data-bs-toggle="tooltip" title="This column refers to the discussion status of the agreement">
                                                    <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                                        <span class="path1"></span>
                                                        <span class="path2"></span>
                                                        <span class="path3"></span>
                                                    </i>
                                                </span>
                                                @Html.DropDownListFor(x => x.DiscussionStatusId,
                                                         new MultiSelectList(Enumerable.Empty<SelectListItem>()),
                                                         new
                                                         {
                                                             @id = "statusDiskusiInputEdit",
                                                             @class = "form-select form-select-solid form-select-lg fw-semibold",
                                                             aria_label = "statusDiskusiInputEdit",
                                                             data_control = "select2",
                                                             data_placeholder = "Choose Disscussion Status",
                                                             data_allow_clear = "true"
                                                         })
                                            </div>
                                            <div class="fv-row mb-10">
                                                <div id="editRepeaterPartner">
                                                    <div class="form-group">
                                                        <label for="editpartnerInput" class="required form-label">Partner(s)</label>
                                                        <span class="ms-1" data-bs-toggle="tooltip" title="This column refers to the project partners (can be more than one)">
                                                            <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                                                <span class="path1"></span>
                                                                <span class="path2"></span>
                                                                <span class="path3"></span>
                                                            </i>
                                                        </span>
                                                        <div data-repeater-list="PartnerName">
                                                            <div data-repeater-item class="partnerEdit mb-2">
                                                                <div class="fv-row form-group row">
                                                                    <div class="col-md-10">
                                                                        @Html.TextBoxFor(x => x.AgreementPartner.PartnerName,
                                                                                 new
                                                                                 {
                                                                                     @id = "editpartnerInput",
                                                                                     @name = "PartnerName",
                                                                                     @class = "form-control form-control-solid",
                                                                                     maxlength = 100,
                                                                                     placeholder = "Masukkan Nama Partner",
                                                                                 })
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <button class="border border-secondary btn btn-icon btn-flex btn-danger" data-repeater-delete type="button">
                                                                            <i class="la la-close"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group mt-5">
                                                            <a href="javascript:;" data-repeater-create class="btn font-weight-bold btn-warning">
                                                                <i class="ki-duotone ki-plus fs-3"></i>
                                                                Add Partner(s)
                                                            </a>
                                                        </div>
                                                        <div class="col"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="fv-row mb-10">
                                                <div class="form-check d-flex align-items-center " style="margin-left:5px">
                                                    <input class="form-check-input" id="checkbox-g2g" type="checkbox" value="@Model.IsGtg" id="checkbox-3" />
                                                    <label class="" for="checkbox-3" style="font-size:17px ; margin-left:5px">G2G</label>
                                                    <span class="ms-1" data-bs-toggle="tooltip" title="This checklist indicates whether this project is derived from G2G or not">
                                                        <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                                            <span class="path1"></span>
                                                            <span class="path2"></span>
                                                            <span class="path3"></span>
                                                        </i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="app-content flex-row-fluid">
                                    <div class="card card-custom">
                                        <div class="card-header">
                                            <div class="row">
                                                <h3 class="card-title">
                                                    SCOPE And CONSTRAINTS
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="fv-row mb-10">
                                                <label for="scopeProjectInputEdit" class="required form-label">Scope/Project Overview</label>
                                                <span class="ms-1" data-bs-toggle="tooltip" title="This column refers to the project scope">
                                                    <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                                        <span class="path1"></span>
                                                        <span class="path2"></span>
                                                        <span class="path3"></span>
                                                    </i>
                                                </span>
                                                @Html.TextAreaFor(m => m.Scope, new
                                                    {
                                                        @id = "scopeProjectInputEdit",
                                                        @class = "form-control form-control-solid",
                                                        placeholder = "Enter Scope/Project Overview",
                                                        maxlength = 6000
                                                    })
                                            </div>
                                            <div class="fv-row mb-10">
                                                <input type="hidden" value="@Model.AgreementStreamBusiness?.AgreementId" id="hdnStreamBusinessId">
                                                <label for="streamBusinessInputEdit" class="required form-label">Stream Business</label><label style="padding-left: 10px;color: red;font-weight: bold;">Can select more than one</label>
                                                <span class="ms-1" data-bs-toggle="tooltip" title="This column refers to the stream of the project (can be more than one)">
                                                    <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                                        <span class="path1"></span>
                                                        <span class="path2"></span>
                                                        <span class="path3"></span>
                                                    </i>
                                                </span>
                                                @Html.DropDownListFor(x => x.StreamBusinessIds,
                                                         new MultiSelectList(Enumerable.Empty<SelectListItem>()),
                                                         new
                                                         {
                                                             @id = "streamBusinessInputEdit",
                                                             @class = "form-select form-select-solid form-select-lg fw-semibold",
                                                             aria_label = "streamBusinessInput",
                                                             data_control = "select2",
                                                             data_placeholder = "Choose Stream Business",
                                                             data_allow_clear = "true",
                                                             multiple = "multiple",
                                                         })
                                            </div>
                                            <div class="fv-row mb-10">
                                                <label for="progressInputEdit" class="required form-label">Progress</label>
                                                <span class="ms-1" data-bs-toggle="tooltip" title="This column refers to the progress of the project">
                                                    <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                                        <span class="path1"></span>
                                                        <span class="path2"></span>
                                                        <span class="path3"></span>
                                                    </i>
                                                </span>
                                                @Html.TextAreaFor(m => m.Progress, new
                                                    {
                                                        @id = "progressInputEdit",
                                                        @class = "form-control form-control-solid",
                                                        placeholder = "Enter Progress",
                                                        maxlength = 6000

                                                    })
                                            </div>

                                            <div class="fv-row mb-10">
                                                <input type="hidden" value="@Model?.KlasifikasiKendalaId" id="hdnKlasifikasiKendalaId">
                                                <label for="klasifikasiKendalaInputEdit" class="required form-label">Constraint Classification</label>
                                                <span class="ms-1" data-bs-toggle="tooltip" title="This column refers to the classification of obstacles in the project">
                                                    <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                                        <span class="path1"></span>
                                                        <span class="path2"></span>
                                                        <span class="path3"></span>
                                                    </i>
                                                </span>
                                                @Html.DropDownListFor(x => x.KlasifikasiKendalaId,
                                                         new MultiSelectList(Enumerable.Empty<SelectListItem>()),
                                                         new
                                                         {
                                                             @id = "klasifikasiKendalaInputEdit",
                                                             @class = "form-select form-select-solid form-select-lg fw-semibold",
                                                             aria_label = "klasifikasiKendalaInputEdit",
                                                             data_control = "select2",
                                                             data_placeholder = "Choose Constraint Classification",
                                                             data_allow_clear = "true"
                                                         })
                                            </div>
                                            <div class="fv-row mb-10">
                                                <label for="deskripsiKendalaInputEdit" class="form-label">Description Classification</label>
                                                <span class="ms-1" data-bs-toggle="tooltip" title="This column refers to the description of obstacles in the project">
                                                    <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                                        <span class="path1"></span>
                                                        <span class="path2"></span>
                                                        <span class="path3"></span>
                                                    </i>
                                                </span>
                                                @Html.TextAreaFor(m => m.DeskripsiKendala, new
                                                    {
                                                        @id = "deskripsiKendalaInputEdit",
                                                        @class = "form-control form-control-solid",
                                                        placeholder = "Enter Description Classification",
                                                        maxlength = 6000

                                                    })
                                            </div>
                                            <div class="fv-row mb-10">
                                                <input type="hidden" value="@Model?.FaktorKendalaId" id="hdnFaktorKendalaId">
                                                <label for="faktorKendalaInputEdit" class="required form-label">Constraint Factor</label>
                                                <span class="ms-1" data-bs-toggle="tooltip" title="This column refers to the factors causing obstacles in the project">
                                                    <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                                        <span class="path1"></span>
                                                        <span class="path2"></span>
                                                        <span class="path3"></span>
                                                    </i>
                                                </span>
                                                @Html.DropDownListFor(x => x.FaktorKendalaId,
                                                         new MultiSelectList(Enumerable.Empty<SelectListItem>()),
                                                         new
                                                         {
                                                             @id = "faktorKendalaInputEdit",
                                                             @class = "form-select form-select-solid form-select-lg fw-semibold",
                                                             aria_label = "faktorKendalaInput",
                                                             data_control = "select2",
                                                             data_placeholder = "Choose Constraint Factor",
                                                             data_allow_clear = "true"
                                                         })
                                            </div>
                                            <div class="fv-row mb-10">
                                                <label for="editTindakLanjut" class="required form-label">Follow Up</label>
                                                <span class="ms-1" data-bs-toggle="tooltip" title="This column refers to the follow-up of the agreement process">
                                                    <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                                        <span class="path1"></span>
                                                        <span class="path2"></span>
                                                        <span class="path3"></span>
                                                    </i>
                                                </span>
                                                @Html.TextBoxFor(x => x.TindakLanjut,
                                                         new
                                                         {
                                                             @id = "editTindakLanjutInput",
                                                             @class = "form-control form-control-solid",
                                                             placeholder = "Enter a minimum of 50 characters",
                                                             minlength = 50,
                                                             maxlength = 6000
                                                         })
                                            </div>
                                            <div class="fv-row mb-10">
                                                <input type="hidden" value="@Model?.TrafficLightId" id="hdnTrafficLightId">
                                                <label for="editTrafficLightInput" class="form-label">Traffic Light</label>
                                                <span class="ms-1" data-bs-toggle="tooltip" title="This column refers to the progress review status of the agreement">
                                                    <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                                        <span class="path1"></span>
                                                        <span class="path2"></span>
                                                        <span class="path3"></span>
                                                    </i>
                                                </span>
                                                @Html.DropDownListFor(x => x.TrafficLightId,
                                                         new MultiSelectList(Enumerable.Empty<SelectListItem>()),
                                                         new
                                                         {
                                                             @id = "editTrafficLightInput",
                                                             @class = "form-select form-select-solid form-select-lg fw-semibold",
                                                             aria_label = "trafficLightSelect",
                                                             data_control = "select2",
                                                             data_placeholder = "Choose Traffic Light",
                                                             data_allow_clear = "true"
                                                         })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="app-content flex-row-fluid">
                                    <div class="card card-custom">
                                        <div class="card-header">
                                            <div class="row">
                                                <h3 class="card-title">
                                                    RELASI KE AGREEMENT
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="fv-row mb-10">
                                                <input type="hidden" value="@Model?.RelatedAgreementId" id="hdnRelatedId">
                                                <label for="relasiAgreementInputEdit" class="form-label">Relasi ke Agreement</label>
                                                @Html.DropDownListFor(x => x.RelatedAgreementId,
                                                         new MultiSelectList(Enumerable.Empty<SelectListItem>()),
                                                         new
                                                         {
                                                             @id = "relasiAgreementInputEdit",
                                                             @class = "form-select form-select-solid form-select-lg fw-semibold",
                                                             aria_label = "relasiAgreementInputEdit",
                                                             data_control = "select2",
                                                             data_placeholder = "Pilih Partner_Kode Agreement_Judul Perjanjian",
                                                             data_allow_clear = "true"
                                                         })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="app-content flex-row-fluid">
                    <div class="row">

                        <div class="col" align="right" style="padding-right: 40px;">
                            <button id="btnCancel" type="submit" class="btn font-weight-bold btn-secondary" onclick="location.href='@Url.Action("Index", "Agreement")'">
                                Cancel
                            </button>
                            <button id="UpdateSubmitAgreement" type="submit" class="btn font-weight-bold btn-primary mr-2" data-url="@Url.Action("UpdateForm", "Agreement")" data-callbackurl="@Url.Action("Index", "Agreement")">
                                <span class="indicator-label">
                                    Update
                                </span>
                                <span class="indicator-progress">
                                    Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var param = (function (param) {
            param.prefix = '@globalParam.PrefixApiUrl';
            param.urlAction = '@controllerName/';
            param.statusBerlakuCounting = '@globalParam.PrefixApiUrl' + 'ApiAgreement/StatusBerlakuCounting';
            param.getAgreementById = '@globalParam.PrefixApiUrl' + 'ApiAgreement/GetAgreementById'
            param.getAdendumSequence = '@globalParam.PrefixApiUrl' + 'ApiAgreement/GetAdendumSequence'
            param.dataGrid = '@globalParam.PrefixApiUrl' + 'ApiInitiative/List';
            param.deleteGrid = '@Url.Action("Delete", "Initative")';
            param.updateGrid = '@Url.Action("Update", "Initative")';
            return param;
        })(param || {});
        var emptyGuid = '@Guid.Empty.ToString()';


    </script>
    <script src="~/js/form/base-url-api.js"></script>
    <script src="~/js/form/agreementUpdate.js"></script>
}