@model Pertamina.IRIS.Models.ViewModels.EntitasPertaminaViewModel
@{
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

<form id="CreateForm" class="form" action="#" autocomplete="off">
    <div id="CreatePartialComponent"
         class="bg-white"
         data-kt-drawer="true"
         data-kt-drawer-activate="true"
         data-kt-drawer-close="#CreatePartialComponentClose, #CreatePartialComponentCancel"
         data-kt-drawer-overlay="true"
         data-kt-drawer-permanent="true"
         data-kt-drawer-width="{default:'300px', 'md': '500px'}">
        <div class="card rounded-0 w-100">
            <div class="card-header pe-5">
                <div class="card-title">
                    Add Entitas Pertamina
                </div>
                <div class="card-toolbar">
                    <div class="btn btn-sm btn-icon btn-active-light-primary" id="CreatePartialComponentClose">
                        <i class="ki-duotone ki-cross fs-2"><span class="path1"></span><span class="path2"></span></i>
                    </div>
                </div>
            </div>
            <div class="card-body hover-scroll-overlay-y">
                <div class="fv-row mb-10">
                    <label for="holdingSubHoldingInput" class="required form-label">Holding/Sub Holding</label>
                    @Html.DropDownListFor(x => x.HshId,
                    new MultiSelectList(Enumerable.Empty<SelectListItem>()),
                    new
                    {
                        @id = "holdingSubHoldingInput",
                        @class = "form-select form-select-solid form-select-lg fw-semibold",
                        aria_label = "Pilih Holding/Sub Holding",
                        data_control = "select2",
                        data_placeholder = "Pilih Holding/Sub Holding",
                        data_dropdown_parent = "#CreateForm",
                        data_allow_clear = "true"
                    })
                </div>
                <div class="fv-row mb-10">
                    <label for="kodePerusahaanInput" class="required form-label">Kode Perusahaan</label>
                    @Html.TextBoxFor(m => m.Code, new
                    {
                        @id = "kodePerusahaanInput",
                        @class = "form-control form-control-solid",
                        maxlength = 20,
                        placeholder = "Masukkan Kode Perusahaan"
                    })
                </div>
                <div class="fv-row mb-10">
                    <label for="namaPerusahaanInput" class="required form-label">Nama Perusahaan</label>
                    @Html.TextBoxFor(m => m.CompanyName, new
                    {
                        @id = "namaPerusahaanInput",
                        @class = "form-control form-control-solid",
                        maxlength = 200,
                        placeholder = "Masukkan Nama Perusahaan"
                    })
                </div>
            </div>
            <div class="card-footer pt-4">
                <div class="d-flex flex-stack">
                    <div class="d-flex align-items-center me-1">
                        <button class="btn btn-secondary" id="CreatePartialComponentCancel">Cancel</button>
                    </div>
                    <button id="CreateSubmit" type="submit" class="btn btn-primary" data-url="@Url.Action("CreatePartial","EntitasPertamina")" data-callbackurl="@Url.Action("Index", "EntitasPertamina")">
                        <span class="indicator-label">
                            Submit
                        </span>
                        <span class="indicator-progress">
                            Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>