@using Pertamina.IRIS.Models.Base
@inject GlobalVariableBaseModel globalParam
@model Pertamina.IRIS.Models.ViewModels.InitiativeViewModel
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Initiative";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();

    string IsAdd = Pertamina.IRIS.App.Helpers.HtmlHelper.IsAdd(HttpContextAccessor.HttpContext.Session);
    string IsDelete = Pertamina.IRIS.App.Helpers.HtmlHelper.IsDelete(HttpContextAccessor.HttpContext.Session);
    string IsEdit = Pertamina.IRIS.App.Helpers.HtmlHelper.IsEdit(HttpContextAccessor.HttpContext.Session);
}

<div class="app-main flex-column flex-row-fluid">
    <div class="d-flex flex-column flex-column-fluid">
        <div class="app-toolbar py-3 py-lg-6">
            <div class="app-container container-xxl d-flex flex-stack">
                <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
                    <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">Initiatives</h1>
                </div>
            </div>
        </div>
        <div class="app-content flex-column-fluid">
            <div class="app-container container-xxl">
                <div class="card card-flush">
                    <div class="card-body fs-6 py-10 px-10 py-lg-10 px-lg-10 text-gray-700">
                        <div class="row py-2">
                            <div class="col-2">
                                <div class="col-12">
                                    Initiative Stage
                                    <span style="float:right">:</span>
                                </div>
                            </div>
                            <div class="col-10">
                                @foreach (var rec in Model.CountInitiativeStage)
                                {
                                    <div class="col-3" style="float:left">
                                        <span>@rec.Name</span>
                                        <span class="counter-initiativeStage-@rec.Id">(@rec.Count)</span>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="row py-2">
                            <div class="col-2">
                                <div class="col-12">
                                    Initiative Status
                                    <span style="float:right">:</span>
                                </div>
                            </div>
                            <div class="col-10">
                                @foreach (var rec in Model.CountInitiativeStatus)
                                {
                                    <div class="col-3" style="float:left">
                                        <span>@rec.StatusName</span>
                                        <span class="counter-initiativeStatus-@rec.Id">(@rec.Count)</span>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="row py-2">
                            <div class="col-2">
                                <div class="col-12">
                                    Initiative Holder
                                    <span style="float:right">:</span>
                                </div>
                            </div>
                            <div class="col-10">
                                @foreach (var rec in Model.CountInitiativeHolder)
                                {
                                    <div class="col-3" style="float:left">
                                        <span>@rec.Name</span>
                                        <span class="counter-initiativeHolder-@rec.Id">(@rec.Count)</span>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="row py-2">
                            <div class="col-2">
                                <div class="col-12">
                                    Initiative
                                    <span style="float:right">:</span>
                                </div>
                            </div>
                            <div class="col-10">
                                <div class="col-12" style="float:left">
                                    <span class="counter-initiative">@Model.CountInitiative</span>
                                </div>
                            </div>
                        </div>
                        <div class="row py-2">
                            <div class="col-2">
                                <div class="col-12">
                                    Negara Mitra
                                    <span style="float:right">:</span>
                                </div>
                            </div>
                            <div class="col-10">
                                <div class="col-12" style="float:left">
                                    <span class="counter-negaraMitra">@Model.CountNegaraMitra</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="app-content flex-column-fluid">
            <div class="app-container container-xxl">
                <div class="card card-flush">
                    <div class="card-body fs-6 py-15 px-10 py-lg-15 px-lg-15 text-gray-700">
                        <div class="row py-2">
                            <span>
                                Filter By :
                                <a class="btn btn-icon-danger btn-text-danger" onclick="resetAllFilter()">
                                    <i class="fa-regular fa-rectangle-xmark"></i>Reset All Filter
                                </a>
                            </span>
                        </div>
                        <div class="row py-2">
                            <div class="col-3">
                                @Html.DropDownListFor(x => x.DdlInitiativeStageId,
                                new MultiSelectList(Enumerable.Empty<SelectListItem>()),
                                new
                                {
                                    @id = "ddlInitiativeStage",
                                    @class = "form-select form-select-solid form-select-lg fw-semibold",
                                    aria_label = "Initiative Stage",
                                    multiple = "multiple",
                                    data_control = "select2",
                                    data_placeholder = "Initiative Stage",
                                    data_allow_clear = "true"
                                })
                            </div>
                            <div class="col-3">
                                @Html.DropDownListFor(x => x.DdlInitiativeStatusId,
                                new MultiSelectList(Enumerable.Empty<SelectListItem>()),
                                new
                                {
                                    @id = "ddlInitiativeStatus",
                                    @class = "form-select form-select-solid form-select-lg fw-semibold",
                                    aria_label = "Initiative Status",
                                    multiple = "multiple",
                                    data_control = "select2",
                                    data_placeholder = "Initiative Status",
                                    data_allow_clear = "true"
                                })
                            </div>
                            <div class="col-3">
                                @Html.DropDownListFor(x => x.DdlInitiativeHolderId,
                                new MultiSelectList(Enumerable.Empty<SelectListItem>()),
                                new
                                {
                                    @id = "ddlInitiativeHolder",
                                    @class = "form-select form-select-solid form-select-lg fw-semibold",
                                    aria_label = "Initiative Holder",
                                    multiple = "multiple",
                                    data_control = "select2",
                                    data_placeholder = "Initiative Holder",
                                    data_allow_clear = "true"
                                })
                            </div>
                            <div class="col-3">
                                @Html.DropDownListFor(x => x.DdlNegaraMitraId,
                                new MultiSelectList(Enumerable.Empty<SelectListItem>()),
                                new
                                {
                                    @id = "ddlNegaraMitra",
                                    @class = "form-select form-select-solid form-select-lg fw-semibold",
                                    aria_label = "Negara Mitra",
                                    multiple = "multiple",
                                    data_control = "select2",
                                    data_placeholder = "Negara Mitra",
                                    data_allow_clear = "true"
                                })
                            </div>
                        </div>
                        <div class="row py-2">
                            <div class="col-3">
                                @Html.DropDownListFor(x => x.DdlKawasanMitraId,
                                new MultiSelectList(Enumerable.Empty<SelectListItem>()),
                                new
                                {
                                    @id = "ddlKawasanMitra",
                                    @class = "form-select form-select-solid form-select-lg fw-semibold",
                                    aria_label = "Kawasan Mitra",
                                    multiple = "multiple",
                                    data_control = "select2",
                                    data_placeholder = "Kawasan Mitra",
                                    data_allow_clear = "true"
                                })
                            </div>
                            <div class="col-3">
                                @Html.DropDownListFor(x => x.DdlStreamBusinessId,
                                new MultiSelectList(Enumerable.Empty<SelectListItem>()),
                                new
                                {
                                    @id = "ddlStreamBusiness",
                                    @class = "form-select form-select-solid form-select-lg fw-semibold",
                                    aria_label = "Stream Business",
                                    multiple = "multiple",
                                    data_control = "select2",
                                    data_placeholder = "Stream Business",
                                    data_allow_clear = "true"
                                })
                            </div>
                            <div class="col-3">
                                @Html.DropDownListFor(x => x.DdlEntitasPertaminaId,
                                new MultiSelectList(Enumerable.Empty<SelectListItem>()),
                                new
                                {
                                    @id = "ddlEntitasPertamina",
                                    @class = "form-select form-select-solid form-select-lg fw-semibold",
                                    aria_label = "Entitas Pertamina",
                                    multiple = "multiple",
                                    data_control = "select2",
                                    data_placeholder = "Entitas Pertamina",
                                    data_allow_clear = "true"
                                })
                            </div>
                        </div>
                        <div class="row py-6">
                            <div class="col-3">
                                <div class="form-check form-check-custom form-check-solid">
                                    <input class="form-check-input" type="checkbox" value="1" id="checkBoxIsDraft" />
                                    <label style="color:#5e6278;" class="form-check-label" for="checkBoxIsDraft">
                                        Draft
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row py-2">
                            <span>
                                Date Range : <a class="btn btn-icon-danger btn-text-danger" onclick="clearDateRange()">
                                    <i class="fa-regular fa-rectangle-xmark"></i>Reset Date Range
                                </a>
                            </span>
                        </div>
                        <div class="row py-2">
                            <div class="col-4">
                                @Html.TextBoxFor(m => m.RangeCreateDate, new
                                {
                                    @id = "rangeCreateDate",
                                    @class = "form-control form-control-solid",
                                    maxlength = 200,
                                placeholder = "Tanggal Input Data"
                                })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="app-content flex-column-fluid">
            <div class="app-container container-xxl">
                <div class="card card-flush">
                    <div class="card-body fs-6 py-10 px-10 py-lg-10 px-lg-10 text-gray-700">
                        <div class="p-0">
                            <div class="d-flex flex-stack mb-5">
                                <div class="d-flex align-items-center position-relative my-1">
                                    <i class="ki-duotone ki-magnifier fs-1 position-absolute ms-6"><span class="path1"></span><span class="path2"></span></i>
                                    <input id="searchDt" type="text" data-kt-docs-table-filter="search" class="form-control form-control-solid w-250px ps-15" placeholder="Search" />
                                    <span class="ms-1" data-bs-toggle="tooltip" title="Search is applied to Judul Initiative, Nilai Proyek, Target Waktu Proyek, Scope/Project Overview, 
                                    Progress, Isu Kendala, Referral, Potensial Eskalasi, Catatan Tambahan, Dukungan yang diperlukan dari pemerintah, Value for Indonesia">
                                        <i class="ki-duotone ki-information-5 text-gray-500 fs-1">
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                            <span class="path3"></span>
                                        </i>
                                    </span>
                                </div>
                                <div class="d-flex justify-content-end" data-kt-docs-table-toolbar="base">
                                    <div style="padding-right:10px;">
                                        <button id="exportExcel" type="button" class="btn btn-primary rotate" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-start">
                                            <i class="ki-duotone ki-exit-up fs-2">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </i>Export
                                        </button>
                                    </div>
                                    <button id="btnCreate"
                                            type="submit"
                                            class="btn btn-primary"
                                            onclick="location.href='@Url.Action("Create", "Initiative")'"
                                            @IsAdd>
                                        <i class="ki-duotone ki-plus fs-2"></i>
                                        Add  Initiative
                                    </button>
                                </div>
                            </div>
                            <table id="dataTable" class="table align-middle table-row-dashed fs-6 gy-5">
                                <thead>
                                    <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
                                        <th>STATUS</th>
                                        <th>JUDUL INITIATIVE</th>
                                        <th>PARTNER</th>
                                        <th>ENTITAS PERTAMINA</th>
                                        <th>STREAM BUSINESS</th>
                                        <th>INITIATIVE STAGE</th>
                                        <th>INITIATIVE STATUS</th>
                                        <th>NEGARA MITRA</th>
                                        <th>KAWASAN MITRA</th>
                                        <th class="text-end min-w-125px">ACTIONS</th>
                                    </tr>
                                </thead>
                                <tbody class="text-gray-600 fw-semibold">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="CreatePartialModal"></div>
<div id="UpdatePartialModal"></div>
@section Scripts{
    <script>
        var param = (function (param) {
            param.prefix = '@globalParam.PrefixApiUrl';
            param.urlAction = '@globalParam.PrefixRootName' + '@controllerName/';
            param.hrefUrlAction = '@Url.Action("Update","Initiative")';
            param.dataGrid = '@globalParam.PrefixApiUrl' + 'ApiInitiative/List';
            param.dataGridEvent = '@globalParam.PrefixApiUrl' + 'ApiInitiative/ListEvent';
            param.dataCountSearch = '@globalParam.PrefixApiUrl' + 'ApiInitiative/GetCountSearch';
            param.dataCount = '@globalParam.PrefixApiUrl' + 'ApiInitiative/GetCount';
            param.checkCompanyCode = '@globalParam.PrefixApiUrl' + 'ApiInitiative/CheckCompanyInitiativeById';
            param.deleteGrid = '@Url.Action("Delete", "Initiative")';
            param.updateGrid = '@Url.Action("Update", "Initiative")';
            param.isDelete = '@IsDelete';
            param.isEdit = '@IsEdit';
            return param;
        })(param || {});

        $('#exportExcel').click(function () {
            const initiativeStage = $("#ddlInitiativeStage").val();
            const initiativeStatus = $("#ddlInitiativeStatus").val();
            const initiativeHolder = $("#ddlInitiativeHolder").val();
            const negaraMitra = $("#ddlNegaraMitra").val();
            const kawasanMitra = $("#ddlKawasanMitra").val();
            const streamBussiness = $("#ddlStreamBusiness").val();
            const entitasPertamina = $("#ddlEntitasPertamina").val();
            var url = '@Url.Action("DownloadData", "Initiative")';
            var textValue = $('#searchDt').val();
            var rangeCreateDate = $("#rangeCreateDate").val();
            var isDraft = $('#checkBoxIsDraft').prop("checked");


            window.location.href = url + '?initiativeStage=' + initiativeStage
                + '&initiativeStatus=' + initiativeStatus
                + '&initiativeHolder=' + initiativeHolder
                + '&negaraMitra=' + negaraMitra
                + '&kawasanMitra=' + kawasanMitra
                + '&streamBussiness=' + streamBussiness
                + '&entitasPertamina=' + entitasPertamina
                + '&searchQuery=' + textValue
                + '&rangeCreateDate=' + rangeCreateDate
                + '&isDraft=' + isDraft
                ;

        });
    </script>
    <script src="~/js/form/base-url-api.js"></script>
    <script src="~/js/form/initiative.js"></script>
}
