@using Pertamina.IRIS.Models.Base
@inject GlobalVariableBaseModel globalParam
@model Pertamina.IRIS.Models.ViewModels.InitiativeViewModel

@{
    ViewData["Title"] = "Initiative";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}
<input type="hidden" id="hdnInitiativeId" value="@Model.Id" />
<div class="app-main flex-column flex-row-fluid">
    <div class="d-flex flex-column flex-column-fluid">
        <div class="app-toolbar py-3 py-lg-6">
            <div class="app-container container-xxl d-flex flex-stack">
                <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
                    <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">EDIT INITIATIVE </h1>
                </div>
            </div>
        </div>
        <div class="app-content flex-column-fluid">
            <div class="app-container container-xxl">
                <form id="EditFormInitiative" class="form" action="#" autocomplete="off">
                    <div class="row">
                        <div class=" row">
                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="card card-custom">
                                        <div class="card-header">
                                            <div class="row">
                                                <h3 class="card-title">
                                                    HEADER
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="fv-row mb-10">
                                                <label for="judulInisiasiInputEdit" class="required form-label">Judul Inisiasi</label>
                                                @Html.TextBoxFor(m => m.JudulInisiasi, new
                                                    {
                                                        @id = "judulInisiasiInputEdit",
                                                        @class = "form-control form-control-solid",
                                                        placeholder = "Masukkan Judul Inisiasi"
                                                    })
                                            </div>
                                            <div class="fv-row mb-10">
                                                <input type="hidden" value="@Model?.InterestId" id="hdnInterestId">
                                                <label for="interestInputEdit" class="required form-label">Interest</label>
                                                @Html.DropDownListFor(x => x.InterestId,
                                                         new SelectList(Enumerable.Empty<SelectListItem>()),
                                                         new
                                                         {
                                                             @id = "interestInputEdit",
                                                             @class = " form-control form-select form-select-solid form-select-lg",
                                                             aria_label = "interestInputEdit",
                                                             data_control = "select2",
                                                             data_placeholder = "Pilih Interest",
                                                             data_allow_clear = "true"
                                                         })
                                            </div>
                                            <div class="fv-row mb-10">
                                                <input type="hidden" value="@Model?.InitiativeStatusId" id="hdnStatusId">
                                                <label for="initiativeStatusInputEdit" class="required form-label">Initiative Status</label>
                                                @Html.DropDownListFor(x => x.InitiativeStatusId,
                                                         new MultiSelectList(Enumerable.Empty<SelectListItem>()),
                                                         new
                                                         {
                                                             @id = "initiativeStatusInputEdit",
                                                             @class = "form-select form-select-solid form-select-lg fw-semibold",
                                                             aria_label = "initiativeStatusInputEdit",
                                                             data_control = "select2",
                                                             data_placeholder = "Pilih Initiative Status",
                                                             data_allow_clear = "true"
                                                         })
                                            </div>
                                            <div class="fv-row mb-10">
                                                <input type="hidden" value="@Model?.InitiativeTypesId" id="hdnTypesId">
                                                <label for="initiativeTypeInputEdit" class="required form-label">Initiative Type</label>
                                                @Html.DropDownListFor(x => x.InitiativeTypesId,
                                                         new MultiSelectList(Enumerable.Empty<SelectListItem>()),
                                                         new
                                                         {
                                                             @id = "initiativeTypeInputEdit",
                                                             @class = "form-select form-select-solid form-select-lg fw-semibold",
                                                             aria_label = "initiativeTypeInputEdit",
                                                             data_control = "select2",
                                                             data_placeholder = "Pilih Initiative Type",
                                                             data_allow_clear = "true"
                                                         })
                                            </div>
                                            <div class="fv-row mb-10">
                                                <input type="hidden" value="@Model?.InitiativeStageId" id="hdnStagesId">
                                                <label for="initiativeStageInputEdit" class="required form-label">Initiative Stage</label>
                                                @Html.DropDownListFor(x => x.InitiativeStageId,
                                                         new MultiSelectList(Enumerable.Empty<SelectListItem>()),
                                                         new
                                                         {
                                                             @id = "initiativeStageInputEdit",
                                                             @class = "form-select form-select-solid form-select-lg fw-semibold",
                                                             aria_label = "initiativeStageInputEdit",
                                                             data_control = "select2",
                                                             data_placeholder = "Pilih Initiative Stage",
                                                             data_allow_clear = "true"
                                                         })
                                            </div>
                                            <div class="fv-row mb-10">
                                                <input type="hidden" value="@Model.InitiativePicFungsi?.InitiativeId" id="hdnPicFungsiId">
                                                <label for="fungsiPicInputEdit" class="required form-label">Fungsi - PIC</label><label style="padding-left: 10px;color: red;font-weight: bold;">Dapat pilih lebih dari 1</label>
                                                @Html.DropDownListFor(x => x.FungsiPicId,
                                                         new MultiSelectList(Enumerable.Empty<SelectListItem>()),
                                                         new
                                                         {
                                                             @id = "fungsiPicInputEdit",
                                                             @class = "form-select form-select-solid form-select-lg fw-semibold",
                                                             aria_label = "fungsiPicInputEdit",
                                                             data_control = "select2",
                                                             data_placeholder = "Pilih Nama PIC - Nama Fungsi - KodePerusahaan",
                                                             data_allow_clear = "true",
                                                             multiple = "multiple",
                                                         })
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="app-content flex-column-fluid row">
                                    <div class="card card-custom">
                                        <div class="card-body">
                                            <div class="fv-row mb-10">
                                                <input type="hidden" value="@Model.InitiativeEntitasPertamina?.InitiativeId" id="hdnEntitasId">
                                                <label for="hshEntitasPertaminaInputEdit" class="required form-label">Holding/Sub Holding - Entitas Pertamina</label><label style="padding-left: 10px;color: red;font-weight: bold;">Dapat pilih lebih dari 1</label>
                                                @Html.DropDownListFor(x => x.EntitasPertaminaId,
                                                         new MultiSelectList(Enumerable.Empty<SelectListItem>()),
                                                         new
                                                         {
                                                             @id = "hshEntitasPertaminaInputEdit",
                                                             @class = "form-select form-select-solid form-select-lg fw-semibold",
                                                             aria_label = "hshEntitasPertaminaInputEdit",
                                                             data_control = "select2",
                                                             data_placeholder = "Pilih Holding/Sub Holding - Entitas Pertamina",
                                                             data_allow_clear = "true",
                                                             multiple = "multiple",
                                                         })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="card card-custom">
                                        <div class="card-header">
                                            <div class="row">
                                                <h3 class="card-title">
                                                    INFORMASI PARTNER
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div id="editRepeaterPartner">
                                                <div class="form-group">
                                                    <label for="editpartnerInput" class="required form-label">Partner(s)</label>
                                                    <div data-repeater-list="PartnerName">
                                                        <div data-repeater-item class="partnerEdit mb-2">
                                                            <div class="fv-row form-group row">
                                                                <div class="col-md-10">
                                                                    @Html.TextBoxFor(x => x.InitiativePartner.PartnerName,
                                                                             new
                                                                             {
                                                                                 @id = "editpartnerInput",
                                                                                 @name = "PartnerName",
                                                                                 @class = "form-control form-control-solid",
                                                                                 maxlength = 100,
                                                                                 placeholder = "Masukkan Nama Partner",
                                                                             })
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <button class="border border-secondary btn btn-icon btn-flex btn-danger" data-repeater-delete type="button">
                                                                        <i class="la la-close"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="form-group mt-5">
                                                        <a href="javascript:;" data-repeater-create class="btn font-weight-bold btn-warning">
                                                            <i class="ki-duotone ki-plus fs-3"></i>
                                                            Add Partner(s)
                                                        </a>
                                                    </div>
                                                    <div class="col"></div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="app-content flex-column-fluid row">
                                    <div class="card card-custom">
                                        <div class="card-header">
                                            <div class="row">
                                                <h3 class="card-title">
                                                    INFORMASI PROYEK
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="fv-row mb-10">
                                                <input type="hidden" value="@Model.InitiativeNegaraMitra?.NegaraMitraId" id="hdnNegaraId">
                                                <label for="negaraMitraInputEdit" class="required form-label">Kawasan Mitra - Negara Mitra</label>
                                                @Html.DropDownListFor(x => x.NegaraMitraId,
                                                         new MultiSelectList(Enumerable.Empty<SelectListItem>()),
                                                         new
                                                         {
                                                             @id = "negaraMitraInputEdit",
                                                             @class = "form-select form-select-solid form-select-lg fw-semibold",
                                                             aria_label = "negaraMitraInputEdit",
                                                             data_control = "select2",
                                                             data_placeholder = "Pilih Kawasan Mitra - Negara Mitra",
                                                             data_allow_clear = "true"
                                                         })
                                            </div>
                                            <div class="fv-row mb-10">
                                                <label for="nilaiProyekInputEdit" class=" form-label">Nilai Proyek</label>
                                                @Html.TextBoxFor(m => m.NilaiProyek, new
                                                    {
                                                        @id = "nilaiProyekInputEdit",
                                                        @class = "form-control form-control-solid",
                                                        placeholder = "Masukkan Nilai Proyek",
                                                        maxlength = 200,
                                                    })
                                            </div>
                                            <div class="fv-row mb-10">
                                                <label for="targetWaktuProyekInputEdit" class=" form-label">Target Waktu Proyek</label>
                                                @Html.TextBoxFor(m => m.TargetWaktuProyek, new
                                                    {
                                                        @id = "targetWaktuProyekInputEdit",
                                                        @class = "form-control form-control-solid",
                                                        placeholder = "Masukkan Target Waktu Proyek",
                                                        maxlength = 400,
                                                    })
                                            </div>
                                            <div id="editRepeaterLokasiProyek">
                                                <div class="form-group">
                                                    <label for="editlokasiProyekProvInput" class="required form-label">Lokasi Proyek </label>
                                                    <div data-repeater-list="LokasiProyek">

                                                        <div data-repeater-item class="lokasiProyekEdit mb-2">
                                                            <div class="fv-row form-group row">
                                                                <div class="col-md-10">
                                                                    @Html.TextBoxFor(x => x.InitiativeLokasiProyek.LokasiProyek,
                                                                             new
                                                                             {
                                                                                 @id = "editlokasiProyekProvInput",
                                                                                 @name = "LokasiProyek",
                                                                                 @class = "form-control form-control-solid",
                                                                                 maxlength = 100,
                                                                                 placeholder = "Masukkan Lokasi Proyek (Provinsi)"
                                                                             })
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <button class="border border-secondary btn btn-icon btn-flex btn-danger" data-repeater-delete type="button">
                                                                        <i class="la la-close"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="form-group mt-5">
                                                        <a href="javascript:;" data-repeater-create class="btn font-weight-bold btn-warning">
                                                            <i class="ki-duotone ki-plus fs-3"></i>
                                                            Add Lokasi Proyek
                                                        </a>
                                                    </div>
                                                    <div class="col"></div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="flex-row-fluid">
                                    <div class="card card-custom">
                                        <div class="card-header">
                                            <div class="row">
                                                <h3 class="card-title">
                                                    SCOPE DAN KENDALA
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="fv-row mb-10">
                                                <label for="scopeProjectInputEdit" class="required form-label">Scope/Project Overview</label>
                                                @Html.TextAreaFor(m => m.Scope, new
                                                    {
                                                        @id = "scopeProjectInputEdit",
                                                        @class = "form-control form-control-solid",
                                                        placeholder = "Masukkan Scope/Project Overview",
                                                        maxlength = 6000
                                                    })
                                            </div>
                                            <div class="fv-row mb-10">
                                                <input type="hidden" value="@Model.InitiativeStreamBusiness?.InitiativeId" id="hdnStreamBusinessId">
                                                <label for="streamBusinessInputEdit" class="required form-label">Stream Business</label><label style="padding-left: 10px;color: red;font-weight: bold;">Dapat pilih lebih dari 1</label>
                                                @Html.DropDownListFor(x => x.StreamBusinessId,
                                                         new MultiSelectList(Enumerable.Empty<SelectListItem>()),
                                                         new
                                                         {
                                                             @id = "streamBusinessInputEdit",
                                                             @class = "form-select form-select-solid form-select-lg fw-semibold",
                                                             aria_label = "streamBusinessInput",
                                                             data_control = "select2",
                                                             data_placeholder = "Pilih Stream Business",
                                                             data_allow_clear = "true",
                                                             multiple = "multiple",
                                                         })
                                            </div>
                                            <div class="fv-row mb-10">
                                                <label for="progressInputEdit" class="required form-label">Progress</label>
                                                @Html.TextAreaFor(m => m.Progress, new
                                                    {
                                                        @id = "progressInputEdit",
                                                        @class = "form-control form-control-solid",
                                                        placeholder = "Masukkan Progress",
                                                        maxlength = 6000

                                                    })
                                            </div>
                                            <div class="fv-row mb-10">
                                                <label for="isuKendalaInputEdit" class="form-label">Isu Kendala</label>
                                                @Html.TextBoxFor(m => m.IsuKendala, new
                                                    {
                                                        @id = "isuKendalaInputEdit",
                                                        @class = "form-control form-control-solid",
                                                        placeholder = "Masukkan Isu Kendala",
                                                        maxlength = 6000
                                                    })
                                            </div>
                                            <div class="fv-row mb-10">
                                                <label for="tindakLanjutInputEdit" class="form-label">Tindak Lanjut</label>
                                                @Html.TextAreaFor(m => m.TindakLanjut, new
                                                    {
                                                        @id = "tindakLanjutInputEdit",
                                                        @class = "form-control form-control-solid",
                                                        placeholder = "Masukkan Tindak Lanjut",
                                                        maxlength = 6000
                                                    })
                                            </div>
                                            <div class="fv-row mb-10">
                                                <label for="referalInputEdit" class="form-label">Referral</label>
                                                @Html.TextBoxFor(m => m.Referal, new
                                                    {
                                                        @id = "referalInputEdit",
                                                        @class = "form-control form-control-solid",
                                                        placeholder = "Masukkan Referral",
                                                        maxlength = 100
                                                    })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="app-content flex-row-fluid">
                                    <div class="card card-custom">
                                        <div class="card-header">
                                            <div class="row">
                                                <h3 class="card-title">
                                                    POTENSIAL ESKALASI
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="fv-row mb-10">
                                                <label for="potensialEskalasiInputEdit" class=" form-label">Potensial Eskalasi</label>
                                                @Html.TextAreaFor(m => m.PotensiEskalasi, new
                                                    {
                                                        @id = "potensialEskalasiInputEdit",
                                                        @class = "form-control form-control-solid",
                                                        placeholder = "Masukkan Potensial Eskalasi",
                                                        maxlength = 6000
                                                    })
                                            </div>
                                            <div class="fv-row mb-10">
                                                <label for="catatanTambahanInputEdit" class=" form-label">Catatan Tambahan</label>
                                                @Html.TextAreaFor(m => m.CatatanTambahan, new
                                                    {
                                                        @id = "catatanTambahanInputEdit",
                                                        @class = "form-control form-control-solid",
                                                        placeholder = "Masukkan Catatan Tambahan",
                                                        maxlength = 6000
                                                    })
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="flex-row-fluid">
                                    <div class="card card-custom">
                                        <div class="card-header">
                                            <div class="row">
                                                <h3 class="card-title">
                                                    HUBUNGAN DENGAN PEMERINTAH
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="fv-row mb-10">                                                
                                                <input type="hidden" value="@Model?.InitiativeKementrianLembaga.InitiativeId" id="hdnLembagaId">
                                                <label for="kementrianLembagaInputEdit" class="required form-label">Keterlibatan Kementrian dan/atau Lembaga</label><label style="padding-left: 10px;color: red;font-weight: bold;">Dapat pilih lebih dari 1</label>
                                                @Html.DropDownListFor(x => x.KementrianLembagaId,
                                                         new MultiSelectList(Enumerable.Empty<SelectListItem>()),
                                                         new
                                                         {
                                                             @id = "kementrianLembagaInputEdit",
                                                             @class = " form-control form-select form-select-solid form-select-lg",
                                                             aria_label = "kementrianLembagaInputEdit",
                                                             data_control = "select2",
                                                             data_placeholder = "Pilih Kementrian",
                                                             data_allow_clear = "true"
                                                         })
                                            </div>
                                            <div class="fv-row mb-10">
                                                <label for="deskripsiKementrianLembagaInputEdit" class=" form-label">Deskripsi Kementrian dan/atau Lembaga</label>
                                                @Html.TextAreaFor(m => m.DeskripsiKementrianLembaga, new
                                                    {
                                                        @id = "deskripsiKementrianLembagaInputEdit",
                                                        @class = "form-control form-control-solid",
                                                        placeholder = "Masukkan Deskripsi Kementrian dan/atau Lembaga",
                                                        maxlength = 6000
                                                    })
                                            </div>
                                            <div class="fv-row mb-10">
                                                <label for="dukunganPemerintahInputEdit" class=" form-label">Dukungan yang Diperlukan dari Pemerintah</label>
                                                @Html.TextAreaFor(m => m.SupportPemerintah, new
                                                    {
                                                        @id = "dukunganPemerintahInputEdit",
                                                        @class = "form-control form-control-solid",
                                                        placeholder = "Masukkan Dukungan yang Diperlukan dari Pemerintah",
                                                        maxlength = 6000
                                                    })
                                            </div>
                                            <div class="fv-row mb-10">
                                                <label for="valueForIndonesiaInputEdit" class=" form-label">Value For Indonesia</label>
                                                @Html.TextAreaFor(m => m.ValueForIndonesia, new
                                                    {
                                                        @id = "valueForIndonesiaInputEdit",
                                                        @class = "form-control form-control-solid",
                                                        placeholder = "Masukkan Value For Indonesia",
                                                        maxlength = 4000
                                                    })
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="app-content flex-row-fluid">
                                    <div class="card card-custom">
                                        <div class="card-header">
                                            <div class="row">
                                                <h3 class="card-title">
                                                    RELASI KE AGREEMENT
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="fv-row mb-10">
                                                <input type="hidden" value="@Model?.AgreementId" id="hdnRelatedId">
                                                <label for="relasiAgreementInputEdit" class="form-label">Relasi ke Agreement</label>
                                                @Html.DropDownListFor(x => x.AgreementId,
                                                         new MultiSelectList(Enumerable.Empty<SelectListItem>()),
                                                         new
                                                         {
                                                             @id = "relasiAgreementInputEdit",
                                                             @class = "form-select form-select-solid form-select-lg fw-semibold",
                                                             aria_label = "relasiAgreementInputEdit",
                                                             data_control = "select2",
                                                             data_placeholder = "Pilih Partner_Kode Agreement_Judul Perjanjian",
                                                             data_allow_clear = "true"
                                                         })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="app-content flex-row-fluid">
                    <div class="row">

                        <div class="col" align="right" style="padding-right: 40px;">
                            <button id="btnCancel" type="submit" class="btn font-weight-bold btn-secondary" onclick="location.href='@Url.Action("Index", "Initiative")'">
                                Cancel
                            </button>
                            <button id="UpdateSubmitInitiative" type="submit" class="btn font-weight-bold btn-primary mr-2" data-url="@Url.Action("UpdateForm", "Initiative")" data-callbackurl="@Url.Action("Index", "Initiative")">
                                <span class="indicator-label">
                                    Update
                                </span>
                                <span class="indicator-progress">
                                    Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var param = (function (param) {
            param.prefix = '@globalParam.PrefixApiUrl';
            param.urlAction = '@controllerName/';
            param.dataGrid = '@globalParam.PrefixApiUrl' + 'ApiInitiative/List';
            param.getInitiativeById = '@globalParam.PrefixApiUrl' + 'ApiInitiative/GetInitiativeById';
            param.statusBerlakuCounting = '@globalParam.PrefixApiUrl' + 'ApiInitiative/StatusBerlakuCounting';
            param.deleteGrid = '@Url.Action("Delete", "Initative")';
            param.updateGrid = '@Url.Action("Update", "Initative")';
            return param;
        })(param || {});


    </script>
    <script src="~/js/form/base-url-api.js"></script>
    <script src="~/js/form/initiativeCreate.js"></script>
}