@using Pertamina.IRIS.Models.Base
@inject GlobalVariableBaseModel globalParam
@model Pertamina.IRIS.Models.ViewModels.ComingSoonViewModel

@{
    ViewData["Title"] = "Coming Soon";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

<div class="app-main flex-column flex-row-fluid">
    <div class="header-secondary d-flex flex-column-fluid justify-content-center align-items-center">
        <div class="app-toolbar py-3 py-lg-6">
            <div class="app-container container-xxl d-flex flex-stack">
                <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
                    <div class="menu menu-gray-600 menu-active-primary menu-hover-light-primary menu-here-light-primary menu-show-light-primary fs-4" data-kt-menu="true">
                        <div class="menu-item">
                            <a href="@Url.Action("Index", "ExistingFootprintsDashboard")" class="menu-link">
                                <span class="menu-title">Home</span>
                            </a>
                        </div>
                        <div class="menu-item @Model.UserDashboardHere">
                            <a href="@Url.Action("Index", "ComingSoon", new { isEp=false, isPo=false, isPi=false, isPd=false, isSa=false, isUd = true, isMd=false, isSt=false })"
                               class="menu-link">
                                <span class="menu-title">User Dashboard</span>
                            </a>
                        </div>
                        <div class="menu-item @Model.MeetingDashboardHere">
                            <a href="@Url.Action("Index", "ComingSoon", new { isEp=false, isPo=false, isPi=false, isPd=false, isSa=false, isUd = false, isMd=true, isSt=false })"
                               class="menu-link">
                                <span class="menu-title">Meeting Dashboard</span>
                            </a>
                        </div>
                        <div class="menu-item @Model.SupportTrackerHere">
                            <a href="@Url.Action("Index", "ComingSoon", new { isEp=false, isPo=false, isPi=false, isPd=false, isSa=false, isUd = false, isMd=false, isSt=true })"
                               class="menu-link">
                                <span class="menu-title">Support Tracker</span>
                            </a>
                        </div>
                        <div class="menu-item">
                            <a href="@Url.Action("Index", "InternationalBusinessIntelligence")" class="menu-link">
                                <span class="menu-title">International Business Intelligence</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="app-main flex-column flex-row-fluid wrapper-40">
    <div class="app-content flex-column-fluid">
        <div class="app-container container-xxl" @Model.HomeSubMenuHidden>
            <div class="d-flex flex-column flex-xl-row">
                <div class="flex-lg-row-fluid">
                    <ul class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fw-bold fs-5 mb-5">
                        <li class="nav-item">
                            <a class="nav-link nav-link-red text-active-gray-900"
                               href="@Url.Action("Index", "ExistingFootprintsDashboard")"
                               aria-selected="true"
                               role="tab">
                                Existing Footprints
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-red text-active-gray-900 @Model.ProjectToOfferActive"
                               href="@Url.Action("Index", "ComingSoon", new { isEp=false, isPo=true, isPi=false, isPd=false, isSa=false, isUd = false, isMd=false, isSt=false })"
                               aria-selected="false"
                               role="tab">
                                Projects To Offer
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-red text-active-gray-900 @Model.PotentialInitiativesActive"
                               href="@Url.Action("Index", "ComingSoon", new { isEp=false, isPo=false, isPi=true, isPd=false, isSa=false, isUd = false, isMd=false, isSt=false })"
                               aria-selected="false"
                               role="tab">
                                Potential Initiatives
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-red text-active-gray-900 @Model.ProgramDevelopmentActive"
                               href="@Url.Action("Index", "ComingSoon", new { isEp=false, isPo=false, isPi=false, isPd=true, isSa=false, isUd = false, isMd=false, isSt=false })"
                               aria-selected="false"
                               role="tab">
                                Program Development
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-red text-active-gray-900"
                               href="@Url.Action("Index", "SignedAgreementDashboard")"
                               aria-selected="false"
                               role="tab">
                                Signed Agreement
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="app-container container-xxl">
            <div class="card card-stretch g-1">
                <div class="card-body">
                    <div class="d-flex flex-center flex-column align-items-stretch h-lg-100">
                        <div class="d-flex flex-column flex-root">
                            <div class="d-flex flex-column flex-center flex-column-fluid">
                                <div class="d-flex flex-column flex-center text-center p-10">
                                    <div class="card card-flush w-lg-650px py-5">
                                        <div class="card-body py-15 py-lg-20">
                                            <div class="mb-13">
                                                <div>
                                                    <img alt="Logo" src="img/logo-pertamina.png" class="h-60px" />
                                                </div>
                                            </div>
                                            <h1 class="fw-bolder text-gray-900 mb-7">We're Launching Soon</h1>
                                            <div class="mb-n5">
                                                <img src="assets/media/auth/chart-graph.png" class="mw-100 mh-300px theme-light-show" alt="" />
                                                <img src="assets/media/auth/chart-graph-dark.png" class="mw-100 mh-300px theme-dark-show" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var param = (function (param) {
            param.prefix = '@globalParam.PrefixApiUrl';
            param.urlAction = '@controllerName/';
            return param;
        })(param || {});
    </script>
    <script src="~/js/form/landingPage.js"></script>
}
