@using Pertamina.IRIS.Models.Base
@inject GlobalVariableBaseModel globalParam
@model Pertamina.IRIS.Models.ViewModels.ExistingFootprintViewModel
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Create Existing Footprints";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();

}
<input type="hidden" id="hdnExistingFootprintsId" value="@Model.Id" />
<div class="app-main flex-column flex-row-fluid">
    <div class="d-flex flex-column flex-column-fluid">
        <div class="app-toolbar py-3 py-lg-6">
            <div class="app-container container-xxl d-flex flex-stack">
                <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
                    <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">Add Existing Footprints</h1>
                </div>
            </div>
        </div>
        <div class="app-content flex-column-fluid">
            @* @Html.HiddenFor(x => x.Id, new { @id = "id" }) *@
            <div class="app-container container-xxl">
                <form id="CreateFormExistingFootprints" class="form" action="#" autocomplete="off">
                    <div class="row">
                        <div class=" row">
                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="card card-custom">
                                        <div class="card-header">
                                            <div class="row">
                                                <h3 class="card-title">
                                                    HEADER
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="fv-row mb-10">
                                                <input type="hidden" value="@Model.StreamBusinessId" id="hdnStreamBusinessInput"></input>
                                                <label for="streamBusinessInputs" class="required form-label">Stream Business</label>
                                                <span class="ms-1" data-bs-toggle="tooltip" title="This column refers to the stream of the project">
                                                    <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                                        <span class="path1"></span>
                                                        <span class="path2"></span>
                                                        <span class="path3"></span>
                                                    </i>
                                                </span>
                                                @Html.DropDownListFor(x => x.StreamBusinessId,
                                                         new MultiSelectList(Enumerable.Empty<SelectListItem>()),
                                                         new
                                                         {
                                                             @id = "streamBusinessInput",
                                                             name = "StreamBusinessId",
                                                             @class = "form-select form-select-solid form-select-md fw-semibold",
                                                             aria_label = "Pilih Stream Business",
                                                             data_control = "select2",
                                                             data_placeholder = "Choose Stream Business",
                                                             data_dropdown_parent = "#CreateFormExistingFootprints"
                                                         })
                                            </div>
                                            <div class="fv-row mb-10">
                                                <input type="hidden" value="@Model.EntitasPertaminaId" id="hdnEntitasInput"></input>
                                                <label for="hshEntitasInputs" class="required form-label">Pertamina Entity</label>
                                                <span class="ms-1" data-bs-toggle="tooltip" title="This column refers to the holding of the agreement">
                                                    <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                                        <span class="path1"></span>
                                                        <span class="path2"></span>
                                                        <span class="path3"></span>
                                                    </i>
                                                </span>
                                                @Html.DropDownListFor(x => x.EntitasPertaminaId,
                                                         new MultiSelectList(Enumerable.Empty<SelectListItem>()),
                                                         new
                                                         {
                                                             @id = "hshEntitasInput",
                                                             name = "EntitasPertaminaId",
                                                             @class = "form-select form-select-solid form-select-md fw-semibold",
                                                             aria_label = "Choose Pertamina Entity",
                                                             data_control = "select2",
                                                             data_placeholder = "Choose Pertamina Entity",
                                                             data_dropdown_parent = "#CreateFormExistingFootprints"
                                                         })
                                            </div>
                                            <div class="fv-row mb-10">
                                                <input type="hidden" value="@Model.NegaraMitraId" id="hdnNegaraMitra"></input>
                                                <label for="hshNegaraMitraInput" class="required form-label">Partner Region</label>
                                                <span class="ms-1" data-bs-toggle="tooltip" title="This column refers to the project area">
                                                    <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                                        <span class="path1"></span>
                                                        <span class="path2"></span>
                                                        <span class="path3"></span>
                                                    </i>
                                                </span>
                                                @Html.DropDownListFor(x => x.NegaraMitraId,
                                                         new MultiSelectList(Enumerable.Empty<SelectListItem>()),
                                                         new
                                                         {
                                                             @id = "hshNegaraMitraInput",
                                                             name = "NegaraMitraId",
                                                             @class = "form-select form-select-solid form-select-md fw-semibold",
                                                             aria_label = "Choose Partner Region",
                                                             data_control = "select2",
                                                             data_placeholder = "Choose Partner Region",
                                                         })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="app-content flex-row-fluid">
                                        <div class="card card-custom">
                                            <div class="card-header">
                                                <div class="row">
                                                    <h3 class="card-title">
                                                        PARTNER INFORMATION
                                                    </h3>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="form-group row">
                                                    <div id="addRepeaterPartner">
                                                        <div class="form-group row">
                                                            <div class="fv-row col-lg-5">
                                                                <label for="partnerInputs" class="required form-label">Partner(s)</label>
                                                                <span class="ms-1" data-bs-toggle="tooltip" title="This column refers to the project partners (can be more than one)">
                                                                    <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                                                        <span class="path1"></span>
                                                                        <span class="path2"></span>
                                                                        <span class="path3"></span>
                                                                    </i>
                                                                </span>
                                                            </div>
                                                            <div class="fv-row col-lg-5">
                                                                <label for="partnerLocation" class="required form-label">Partner Location</label>
                                                                <span class="ms-1" data-bs-toggle="tooltip" title="This column refers to the partner location (can be more than one)">
                                                                    <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                                                        <span class="path1"></span>
                                                                        <span class="path2"></span>
                                                                        <span class="path3"></span>
                                                                    </i>
                                                                </span>
                                                            </div>
                                                            <div data-repeater-list="PartnerName">
                                                                <div data-repeater-item class="partner mb-2">
                                                                    <div class="form-group row">
                                                                        <div class="fv-row col-lg-5">
                                                                            @Html.TextBoxFor(x => x.Partner.Partners,
                                                                                     new
                                                                                     {
                                                                                         @id = "partnerInput",
                                                                                         @class = "form-control form-control-solid partnersFill",
                                                                                         maxlength = 100,
                                                                                         placeholder = "Enter Partner's Name",
                                                                                     })
                                                                        </div>
                                                                        <div class="fv-row col-lg-5">
                                                                            @Html.TextBoxFor(x => x.Partner.Location,
                                                                                     new
                                                                                     {
                                                                                         @id = "partnerLocation",
                                                                                         name = "PLocation",
                                                                                         @class = "form-control form-control-solid locationFill",
                                                                                         maxlength = 6000,
                                                                                         placeholder = "Enter Partner Location",
                                                                                         data_dropdown_parent = "#CreateFormExistingFootprints"
                                                                                     })
                                                                        </div>
                                                                        <div class="col-lg-2 d-flex align-items-end">
                                                                            <button class="border border-secondary btn btn-icon btn-flex btn-danger" data-repeater-delete type="button">
                                                                                <i class="la la-close"></i>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <div class="form-group mt-5">
                                                                <a href="javascript:;" data-repeater-create class="btn font-weight-bold btn-warning">
                                                                    <i class="ki-duotone ki-plus fs-3"></i>
                                                                    Add Partner(s)
                                                                </a>
                                                            </div>
                                                            <div class="col"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="flex-row-fluid">
                                    <div class="card card-custom" style="padding-bottom:100px">
                                        <div class="card-header">
                                            <div class="row">
                                                <h3 class="card-title">
                                                    HUB HEAD INFORMATION
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="headInput fv-row mb-10">
                                                <input type="hidden" value="@Model.HubId" id="hdnHub"></input>
                                                <label for="hubName" class="required form-label">Hub</label>
                                                <span class="ms-1" data-bs-toggle="tooltip" title="This column refers to the Hub">
                                                    <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                                        <span class="path1"></span>
                                                        <span class="path2"></span>
                                                        <span class="path3"></span>
                                                    </i>
                                                </span>
                                                @Html.DropDownListFor(x => x.Head.HubHeadId,
                                                         new MultiSelectList(Enumerable.Empty<SelectListItem>()),
                                                         new
                                                         {
                                                             @id = "hubName",
                                                             name = "HubName",
                                                             @class = "form-select form-select-solid form-select-md fw-semibold",
                                                             data_control = "select2",
                                                             data_placeholder = "Choose Name of Hub",
                                                             data_dropdown_parent = "#CreateFormExistingFootprints"
                                                         })

                                            </div>
                                            <div class=" fv-row mb-10">

                                                <label for="hshHubHeadInputs" class="required form-label">Hub Head</label>
                                                <span class="ms-1" data-bs-toggle="tooltip" title="This column refers to the Hub Head">
                                                    <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                                        <span class="path1"></span>
                                                        <span class="path2"></span>
                                                        <span class="path3"></span>
                                                    </i>
                                                </span>
                                                @Html.HiddenFor(x => x.HubId, new { @id = "HubId" })
                                                @Html.HiddenFor(x => x.HubHeadId, new { @id = "HubHeadId" })
                                                @Html.TextBoxFor(x => x.HubHeadName,
                                                         new
                                                         {
                                                             @id = "hshHubHeadInput",
                                                             name = "HubHeadId",
                                                             @class = "form-control form-control-solid",
                                                             maxlength = 6000,
                                                             placeholder = "Automation is selected when a Hub has been choosen",
                                                             @readonly = "readonly",
                                                             data_dropdown_parent = "#CreateFormExistingFootprints"
                                                         })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="app-content flex-row-fluid">
                                        <div class="card card-custom" style="padding-bottom:60px">
                                            <div class="card-header">
                                                <div class="row">
                                                    <h3 class="card-title">
                                                        PIC INFORMATION
                                                    </h3>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="form-group row">
                                                    <div class="fv-row col-lg-5">
                                                        @if (@Model.PicFungsi != null)
                                                        {
                                                            <input type="hidden" value="@Model.PicFungsi.PicFungsiId" id="hdnPicInput"></input>
                                                        }
                                                        <label for="picInput" class="required form-label">Function - PIC</label>
                                                        <span class="ms-1" data-bs-toggle="tooltip" title="This column refers to the function of PIC">
                                                            <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                                                <span class="path1"></span>
                                                                <span class="path2"></span>
                                                                <span class="path3"></span>
                                                            </i>
                                                        </span>
                                                        @Html.DropDownListFor(x => x.PicFungsiId,
                                                                 new MultiSelectList(Enumerable.Empty<SelectListItem>()),
                                                                 new
                                                                 {
                                                                     @id = "picInput",
                                                                     @name = "PicFungsiId",
                                                                     @class = "form-select form-select-solid form-select-md fw-semibold",
                                                                     aria_label = "Choose PIC - Function Name - Company",
                                                                     data_placeholder = "Choose PIC - Function Name - Company",
                                                                     data_control = "select2",
                                                                     data_dropdown_parent = "#CreateFormExistingFootprints"
                                                                 })
                                                    </div>
                                                    <div class="fv-row col-lg-5">
                                                        <label for="picLevelInput" class="required form-label">PIC Level</label>
                                                        <span class="ms-1" data-bs-toggle="tooltip" title="This column refers to the level of PIC">
                                                            <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                                                <span class="path1"></span>
                                                                <span class="path2"></span>
                                                                <span class="path3"></span>
                                                            </i>
                                                        </span>
                                                        @Html.HiddenFor(x => x.PicLevelId, new { @id = "picLevelId" })
                                                        @Html.TextBoxFor(x => x.PicLevelName,
                                                                 new
                                                                 {
                                                                     @id = "picLevelInput",
                                                                     @name = "PicLevelId",
                                                                     @class = "form-control form-control-solid",
                                                                     maxlength = 6000,
                                                                     placeholder = "Choose PIC Level",
                                                                     @readonly = "readonly",
                                                                     data_dropdown_parent = "#CreateFormExistingFootprints"
                                                                 })
                                                    </div>
                                                </div>
                                                <div class="form-group row  mt-5">
                                                    <div id="addRepeaterPic">
                                                        @Html.HiddenFor(x => x.PicLevelMemberId, new { @id = "picLevelMemberId" })
                                                        <div class="form-group">
                                                            <div data-repeater-list="PicName">
                                                                <div data-repeater-item class="pic mb-2">
                                                                    <div class="form-group row">
                                                                        <div class="fv-row col-lg-5 picFungsi">
                                                                            @* <label for="picFungsiMemberInput" class="required form-label">Partner(s)</label> *@
                                                                            @Html.DropDownListFor(x => x.PicFungsi.PicFungsiId,
                                                                                     new MultiSelectList(Enumerable.Empty<SelectListItem>()),
                                                                                     new
                                                                                     {
                                                                                         @id = "picFungsiMemberInput",
                                                                                         @name = "PicMemberFungsiId",
                                                                                         @class = "form-select form-select-solid form-select-md fw-semibold fungsiPicMember",
                                                                                         aria_label = "Choose PIC - Function - Company",
                                                                                         data_placeholder = "Choose PIC - Function - Company",
                                                                                     })
                                                                        </div>
                                                                        <div class="fv-row col-lg-5">
                                                                            @Html.TextBoxFor(x => x.PicLevelNameMember,
                                                                                     new
                                                                                     {
                                                                                         @id = "picLevelMemberInput",
                                                                                         @name = "PicMemberLevelId",
                                                                                         @class = "form-control form-control-solid levelPicMember",
                                                                                         maxlength = 6000,
                                                                                         placeholder = "Choose PIC Level",
                                                                                         @readonly = "readonly",
                                                                                         data_dropdown_parent = "#CreateFormExistingFootprints"
                                                                                     })
                                                                        </div>
                                                                        <div class="col-lg-2 d-flex align-items-end">
                                                                            <button class="border border-secondary btn btn-icon btn-flex btn-danger" data-repeater-delete type="button">
                                                                                <i class="la la-close"></i>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <div class="form-group mt-5">
                                                                <a href="javascript:;" data-repeater-create class="btn font-weight-bold btn-warning" id="addPICButton">
                                                                    <i class="ki-duotone ki-plus fs-3"></i>
                                                                    Add PIC
                                                                </a>
                                                            </div>
                                                            <div class="col"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-custom">
                                <div class="card-header">
                                    <div class="row">
                                        <h3 class="card-title">
                                            OPERATING METRICS
                                        </h3>
                                    </div>
                                </div>
                                <div class="card-body fs-6 py-15 px-10 py-lg-15 px-lg-15 text-gray-700">
                                    <div class="p-0">
                                        <div class="d-flex flex-stack mb-5">
                                            <div class="card-body">
                                                <div class="form-group row">
                                                    <div id="addOperatingMetrics">
                                                        <div class="form-group">
                                                            <div class="form-group row align-items-center">
                                                                <div class="fv-row col-lg-2" style="width:250px">
                                                                    <label for="yearOperatingMetrics" class="required form-label">Year</label>
                                                                    <span class="ms-1" data-bs-toggle="tooltip" title="This column refers to the year of operating metrics">
                                                                        <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                                                            <span class="path1"></span>
                                                                            <span class="path2"></span>
                                                                            <span class="path3"></span>
                                                                        </i>
                                                                    </span>
                                                                </div>
                                                                <div class="fv-row col-lg-2" style="width:250px">
                                                                    <label for="revenueOperatingMetrics" class="required form-label">Revenue</label>
                                                                    <span class="ms-1" data-bs-toggle="tooltip" title="This column refers to the revenue of operating metrics">
                                                                        <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                                                            <span class="path1"></span>
                                                                            <span class="path2"></span>
                                                                            <span class="path3"></span>
                                                                        </i>
                                                                    </span>
                                                                </div>
                                                                <div class="fv-row col-lg-2" style="width:250px">
                                                                    <label for="totalAssetOperatingMetrics" class="required form-label">Total Assets</label>
                                                                    <span class="ms-1" data-bs-toggle="tooltip" title="This column refers to the total assets of operating metrics">
                                                                        <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                                                            <span class="path1"></span>
                                                                            <span class="path2"></span>
                                                                            <span class="path3"></span>
                                                                        </i>
                                                                    </span>
                                                                </div>
                                                                <div class="fv-row col-lg-2" style="width:250px">
                                                                    <label for="ebitdaOperatingMetrics" class="required form-label">EBITDA</label>
                                                                    <span class="ms-1" data-bs-toggle="tooltip" title="This column refers to the Ebitda of operating metrics">
                                                                        <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                                                            <span class="path1"></span>
                                                                            <span class="path2"></span>
                                                                            <span class="path3"></span>
                                                                        </i>
                                                                    </span>
                                                                </div>
                                                                <div data-repeater-list="AddOperatingMetrics">
                                                                    <div data-repeater-item class="addOM">
                                                                        <div class="form-group mt-5 row align-items-center">
                                                                            <div class="fv-row col-lg-2" style="width:250px">
                                                                                @* <input class="numInput cur-year" type="number" tabindex="-1" aria-label="Year"> *@
                                                                                @Html.DropDownListFor(x => x.OperatingMetrics.Year,
                                                                                         new MultiSelectList(Enumerable.Empty<SelectListItem>()),
                                                                                         new
                                                                                         {
                                                                                             @id = "yearOperatingMetrics",
                                                                                             @class = "form-select form-select-solid form-select-md yearOM",
                                                                                             @type = "number",
                                                                                             data_placeholder = "Enter Year",
                                                                                         })
                                                                            </div>
                                                                            <div class="fv-row col-lg-2" style="width:250px">
                                                                                @Html.TextBoxFor(m => m.OperatingMetrics.RevenueToString, new
                                                                                    {
                                                                                        @id = "revenueOperatingMetrics",
                                                                                        @class = "form-control revenueOM",
                                                                                        maxlength = 15,
                                                                                        @type = "text",
                                                                                        placeholder = "Enter Revenue"
                                                                                    })
                                                                            </div>
                                                                            <div class="fv-row col-lg-2" style="width:250px">

                                                                                @Html.TextBoxFor(m => m.OperatingMetrics.TotalAssetToString, new
                                                                                    {
                                                                                        @id = "totalAssetOperatingMetrics",
                                                                                        @class = "form-control totalAssetsOM",
                                                                                        maxlength = 15,
                                                                                        @type = "text",
                                                                                        placeholder = "Enter Total Assets"
                                                                                    })
                                                                            </div>
                                                                            <div class="fv-row col-lg-2" style="width:250px">
                                                                                @Html.TextBoxFor(m => m.OperatingMetrics.EbitdaToString, new
                                                                                    {
                                                                                        @id = "ebitdaOperatingMetrics",
                                                                                        @class = "form-control EbitdaOM",
                                                                                        maxlength = 15,
                                                                                        @type = "text",
                                                                                        placeholder = "Enter EBITDA"
                                                                                    })
                                                                            </div>
                                                                            <div class="fv-row col-lg-1 d-flex align-items-end">
                                                                                <label for="editClose" class="form-label"></label>
                                                                                <div class="input-group">
                                                                                    <button class="border border-secondary btn btn-icon btn-flex btn-danger" data-repeater-delete type="button">
                                                                                        <i class="la la-close"></i>
                                                                                    </button>
                                                                                </div>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <div class="form-group mt-5">
                                                                <a href="javascript:;" data-repeater-create class="btn font-weight-bold btn-warning">
                                                                    <i class="ki-duotone ki-plus fs-3"></i>
                                                                    Add Operating Metrics
                                                                </a>
                                                            </div>
                                                            <div class="col"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="app-content flex-row-fluid">
                    <div class="row">
                        @* <div class="col" align="left">
                        <button id="SaveDraftExistingFootprints" type="submit" class="btn font-weight-bold btn-secondary" data-url="@Url.Action("SaveDraft", "ExistingFootprint")" data-callbackurl="@Url.Action("Index", "ExistingFootprint")">
                        <span class="indicator-label">
                        Save as Draft
                        </span>
                        </button>
                        </div> *@
                        <div class="col" align="right" style="padding-right: 40px;">
                            <button id="btnCancel" type="submit" class="btn font-weight-bold btn-secondary" onclick="location.href='@Url.Action("Index", "ExistingFootprint")'">
                                Cancel
                            </button>
                            <button id="CreateSubmitExistingFootprints" type="submit" class="btn font-weight-bold btn-primary mr-2" data-url="@Url.Action("Submit", "ExistingFootprint")" data-callbackurl="@Url.Action("Index", "ExistingFootprint")">
                                <span class="indicator-label">
                                    Submit
                                </span>
                                <span class="indicator-progress">
                                    Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div id="UpdatePartialModal"></div>
<div id="CreatePartialModal"></div>

@section Scripts {
    <script>
        var param = (function (param) {
            param.prefix = '@globalParam.PrefixApiUrl';
            param.getExistingFootprintsById = '@globalParam.PrefixApiUrl' + "ApiExistingFootprints/GetExistingFootprintsById";
            param.getYearOperatingMetricById = '@globalParam.PrefixApiUrl' + "ApiExistingFootprints/GetYearOperatingMetricById";
            param.dataGrid = '@globalParam.PrefixApiUrl' + 'ApiExistingFootprints/ListOperatingMetricById' + '?guid=' + '@(Model.Id)';
            param.urlAction = '@controllerName/';
            param.updateGrid = '@Url.Action("UpdatePartial", "ExistingFootprint")';
            param.deleteGrid = '@Url.Action("DeleteOperatingMetric", "ExistingFootprint")';
            return param
        })(param || {});
        var emptyGuid = '@Guid.Empty.ToString()';
    </script>
    <script src="~/js/form/base-url-api.js"></script>
    <script src="~/js/form/existingFootprintsCreate.js"></script>
}
