@using Pertamina.IRIS.Models.Base
@inject GlobalVariableBaseModel globalParam
@model Pertamina.IRIS.Models.ViewModels.ExistingFootprintViewModel
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Detail Existing Footprints";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();

}
<div class="app-main flex-column flex-row-fluid">
    <div class="d-flex flex-column flex-column-fluid">
        <div class="app-toolbar py-3 py-lg-6">
            <div class="app-container container-xxl d-flex flex-stack">
                <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
                    <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">Detail Existing Footprints</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="app-content flex-column-fluid">
        <div class="app-container container-xxl">
            <div class="card card-flush">
                <div class="card-body fs-6 py-10 px-10 py-lg-10 px-lg-10 text-gray-700">
                    <div class="row mb-7">
                        <div class="col-lg-12">
                            <span class="fw-bold fs-6 text-gray-800">Header</span>
                        </div>
                    </div>
                    <div class="row mb-7">
                        <!--begin::Label-->
                        <label class="col-lg-4 fw-semibold text-muted">Business Stream</label>
                        <!--end::Label-->
                        <!--begin::Col-->
                        <div class="col-lg-8">
                            @if (@Model.GridProjectType != null)
                            {
                                <span class="fw-bold fs-6 text-gray-800">: @Model.GridProjectType</span>
                            }
                            else
                            {
                                <span class="fw-bold fs-6 text-gray-800">: N/A</span>
                            }
                        </div>
                        <!--end::Col-->
                    </div>
                    <div class="row mb-7">
                        <!--begin::Label-->
                        <label class="col-lg-4 fw-semibold text-muted">Pertamina Entity</label>
                        <!--end::Label-->
                        <!--begin::Col-->
                        <div class="col-lg-8">
                            <div class="fw-bold fs-6 text-gray-800">
                                @if (@Model.GridEntitas != null)
                                {
                                    <span class="fw-bold fs-6 text-gray-800">: @Model.GridEntitas</span>
                                }
                                else
                                {
                                    <span class="fw-bold fs-6 text-gray-800">: N/A</span>
                                }
                            </div>
                        </div>
                        <!--end::Col-->
                    </div>
                    <div class="row mb-7">
                        <!--begin::Label-->
                        <label class="col-lg-4 fw-semibold text-muted">Negara Mitra</label>
                        <!--end::Label-->
                        <!--begin::Col-->
                        <div class="col-lg-8">
                            <div class="fw-bold fs-6 text-gray-800">
                                @if (@Model.NegaraMitraId != null)
                                {
                                    <span class="fw-bold fs-6 text-gray-800">: @Model.GridNegaraMitra</span>
                                }
                                else
                                {
                                    <span class="fw-bold fs-6 text-gray-800">: N/A</span>
                                }
                            </div>
                        </div>
                    </div>
                    
                    <div class="row mb-7">
                        <div class="col-lg-12">
                            <span class="fw-bold fs-6 text-gray-800">PIC INFORMATION</span>
                        </div>
                    </div>
                    <div class="row mb-7">
                        <!--begin::Label-->
                        <label class="col-lg-4 fw-semibold text-muted">HUB HEAD</label>
                        <!--end::Label-->
                        <!--begin::Col-->
                        <div class="col-lg-8">
                            <div class="fw-bold fs-6 text-gray-800">
                                @if (@Model.GridHubHeadName != null)
                                {
                                    <span class="fw-bold fs-6 text-gray-800">: @Model.GridHubHeadName</span>
                                }
                                else
                                {
                                    <span class="fw-bold fs-6 text-gray-800">: N/A</span>
                                }
                            </div>
                        </div>
                        <!--end::Col-->
                    </div>
                    <div class="row mb-7">
                        <!--begin::Label-->
                        <label class="col-lg-4 fw-semibold text-muted">PIC Lead</label>
                        <!--end::Label-->
                        <!--begin::Col-->
                        <div class="col-lg-8">
                            @if (Model.PicFungsi != null)
                            {
                                <span class="fw-bold fs-6 text-gray-800">: @Model.PicFungsi.PicFungsiName</span>
                            }
                            else
                            {
                                <span class="fw-bold fs-6 text-gray-800">: N/A</span>
                            }
                        </div>
                        <!--end::Col-->
                    </div>
                    <div class="row mb-7">
                        <!--begin::Label-->
                        <label class="col-lg-4 fw-semibold text-muted">PIC Member</label>
                        <!--end::Label-->
                        <!--begin::Col-->
                        <div class="col-lg-8">
                            <div class="fw-bold fs-6 text-gray-800">
                                @if (Model.PicFungsis  != null)
                                {
                                    @foreach (var rec in Model.PicFungsis)
                                    {
                                        if (rec == Model.PicFungsis.FirstOrDefault())
                                        {
                                            <span>: <i class="fa-solid fa-caret-right"></i> @rec.PicFungsiName</span>

                                        }
                                        else
                                        {
                                            <br>

                                            <span>&nbsp;&nbsp;<i class="fa-solid fa-caret-right"></i> @rec.PicFungsiName</span>
                                        }
                                    }
                                }
                                else
                                {
                                    <span class="fw-bold fs-6 text-gray-800">:</span>
                                }
                                <!--end::Col-->
                            </div>
                        </div>
                    </div>
                    <div class="row mb-7">
                        <div class="col-lg-12">
                            <span class="fw-bold fs-6 text-gray-800">PARTNER INFORMATION</span>
                        </div>
                    </div>
                    <div class="row mb-7">
                        <!--begin::Label-->
                        <label class="col-lg-4 fw-semibold text-muted">Partner(s) - Location</label>
                        <!--end::Label-->
                        <!--begin::Col-->
                        <div class="col-lg-8">
                            <div class="fw-bold fs-6 text-gray-800">
                                @if (Model.Partnerss  != null)
                                {
                                    @foreach (var rec in Model.Partnerss)
                                    {
                                        if (rec == Model.Partnerss.FirstOrDefault())
                                        {
                                            <span>: <i class="fa-solid fa-caret-right"></i> @rec.Partners - @rec.Location</span>

                                        }
                                        else
                                        {
                                            <br>

                                            <span>&nbsp;&nbsp;<i class="fa-solid fa-caret-right"></i> @rec.Partners - @rec.Location</span>
                                        }
                                    }
                                }
                                else
                                {
                                    <span class="fw-bold fs-6 text-gray-800">:</span>
                                }
                            </div>
                        </div>
                        <!--end::Col-->
                    </div>
                   
                    <div class="row mb-7">
                        <div class="col-lg-12">
                            <span class="fw-bold fs-6 text-gray-800">OPERATING AND METRICS (Mn)</span>
                        </div>
                    </div>
                    <table id="dataTableDetails" class="table align-middle table-row-dashed fs-6 gy-5">
                        <thead>
                            <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
                                <th>YEAR</th>
                                <th>REVENUE</th>
                                <th>TOTAL ASSETS</th>
                                <th>EBITDA</th>
                            </tr>
                        </thead>
                        <tbody class="text-gray-600 fw-semibold">
                        </tbody>
                    </table>
                    <div class="row mb-2">
                        <div class="col-lg-12 d-flex justify-content-end pb-0 px-0">
                            <button id="btnCancel" type="submit" class="btn font-weight-bold btn-secondary" onclick="location.href='@Url.Action("Index","ExistingFootprint")'">
                                Back
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        var param = (function (param) {
            param.prefix = '@globalParam.PrefixApiUrl';
            param.dataGrid = '@globalParam.PrefixApiUrl' + 'ApiExistingFootprints/ListOperatingMetricById' + '?guid=' + '@(Model.Id)';
            param.urlAction = '@controllerName/';
            return param
        })(param || {});
    </script>
    <script src="~/js/form/base-url-api.js"></script>
    <script src="~/js/form/existingFootprints.js"></script>
}