@using Pertamina.IRIS.Models.Base
@inject GlobalVariableBaseModel globalParam
@model Pertamina.IRIS.Models.ViewModels.ExistingFootprintViewModel
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Edit Existing Footprints";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();

}
<input type="hidden" id="hdnExistingFootprintsId" value="@Model.Id" />
<div class="app-main flex-column flex-row-fluid">
    <div class="d-flex flex-column flex-column-fluid">
        <div class="app-toolbar py-3 py-lg-6">
            <div class="app-container container-xxl d-flex flex-stack">
                <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
                    <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">Edit Existing Footprints </h1>
                </div>
            </div>
        </div>
        <div class="app-content flex-column-fluid">
            <div class="app-container container-xxl">
                <form id="EditFormExistingFootprints" class="form" action="#" autocomplete="off">
                    <div class="row">
                        <div class=" row">
                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="card card-custom">
                                        <div class="card-header">
                                            <div class="row">
                                                <h3 class="card-title">
                                                    HEADER
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="fv-row mb-10">
                                                <input type="hidden" value="@Model.StreamBusinessId" id="hdnStreamBusinessInput"></input>
                                                <label for="editStreamBusinessInput" class="required form-label">Business Stream</label>
                                                <span class="ms-1" data-bs-toggle="tooltip" title="This column refers to the stream of the project">
                                                    <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                                        <span class="path1"></span>
                                                        <span class="path2"></span>
                                                        <span class="path3"></span>
                                                    </i>
                                                </span>
                                                @Html.DropDownListFor(x => x.StreamBusinessId,
                                                         new MultiSelectList(Enumerable.Empty<SelectListItem>()),
                                                         new
                                                         {
                                                             @id = "editStreamBusinessInput",
                                                             name = "EditStreamBusinessId",
                                                             @class = "form-select form-select-solid form-select-md fw-semibold",
                                                             aria_label = "Choose Stream Business",
                                                             data_control = "select2",
                                                             data_placeholder = "Choose Stream Business",
                                                         })
                                            </div>
                                            <div class="fv-row mb-10">
                                                <input type="hidden" value="@Model.EntitasPertaminaId" id="hdnEntitasInput"></input>
                                                <label for="editHshEntitasInput" class="required form-label">Pertamina Entity</label>
                                                <span class="ms-1" data-bs-toggle="tooltip" title="This column refers to the holding of the agreement">
                                                    <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                                        <span class="path1"></span>
                                                        <span class="path2"></span>
                                                        <span class="path3"></span>
                                                    </i>
                                                </span>
                                                @Html.DropDownListFor(x => x.EntitasPertaminaId,
                                                         new MultiSelectList(Enumerable.Empty<SelectListItem>()),
                                                         new
                                                         {
                                                             @id = "editHshEntitasInput",
                                                             name = "EditEntitasPertaminaId",
                                                             @class = "form-select form-select-solid form-select-md fw-semibold",
                                                             data_control = "select2",
                                                             data_placeholder = "Choose Pertamina Entity",
                                                             data_allow_clear = "true",
                                                         })
                                            </div>
                                            <div class="fv-row mb-10">
                                                <input type="hidden" value="@Model.NegaraMitraId" id="hdnNegaraMitra"></input>
                                                <label for="editHshNegaraMitraInput" class="required form-label">Partner Region</label>
                                                <span class="ms-1" data-bs-toggle="tooltip" title="This column refers to the project area">
                                                    <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                                        <span class="path1"></span>
                                                        <span class="path2"></span>
                                                        <span class="path3"></span>
                                                    </i>
                                                </span>
                                                @Html.DropDownListFor(x => x.NegaraMitraId,
                                                         new MultiSelectList(Enumerable.Empty<SelectListItem>()),
                                                         new
                                                         {
                                                             @id = "editHshNegaraMitraInput",
                                                             name = "EditNegaraMitraId",
                                                             @class = "form-select form-select-solid form-select-md fw-semibold",
                                                             data_control = "select2",
                                                             data_placeholder = "Choose Partner Region",
                                                         })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="app-content flex-row-fluid">
                                        <div class="card card-custom">
                                            <div class="card-header">
                                                <div class="row">
                                                    <h3 class="card-title">
                                                        PARTNER INFORMATION
                                                    </h3>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="form-group row">
                                                    <div id="editRepeaterPartner">
                                                        <div class="form-group">
                                                            <div class="form-group row">
                                                                <div class="fv-row col-lg-5">
                                                                    <label for="editPartnerLocation" class="required form-label">Partner Location</label>
                                                                    <span class="ms-1" data-bs-toggle="tooltip" title="This column refers to the partner location (can be more than one)">
                                                                        <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                                                            <span class="path1"></span>
                                                                            <span class="path2"></span>
                                                                            <span class="path3"></span>
                                                                        </i>
                                                                    </span>
                                                                </div>
                                                                <div class="fv-row col-lg-5">
                                                                    <label for="editPartnerLocation" class="required form-label">Partner Location</label>
                                                                    <span class="ms-1" data-bs-toggle="tooltip" title="This column refers to the partner location (can be more than one)">
                                                                        <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                                                            <span class="path1"></span>
                                                                            <span class="path2"></span>
                                                                            <span class="path3"></span>
                                                                        </i>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div data-repeater-list="EditPartnerName">
                                                                <div data-repeater-item class="editPartner mb-2">
                                                                    <div class="form-group row">
                                                                        <div class="fv-row col-lg-5">
                                                                            @Html.TextBoxFor(x => x.Partner.Partners,
                                                                                     new
                                                                                     {
                                                                                         @id = "editPartnerInput",
                                                                                         @class = "form-control form-control-solid",
                                                                                         maxlength = 100,
                                                                                         placeholder = "Enter Partner's Name",
                                                                                     })
                                                                        </div>
                                                                        <div class="fv-row col-lg-5">
                                                                            @Html.TextBoxFor(x => x.Partner.Location,
                                                                                     new
                                                                                     {
                                                                                         @id = "editPartnerLocation",
                                                                                         name = "EditLocation",
                                                                                         @class = "form-control form-control-solid",
                                                                                         maxlength = 6000,
                                                                                         placeholder = "Enter Partner Location",
                                                                                     })
                                                                        </div>
                                                                        <div class="col-lg-2 d-flex align-items-end">
                                                                            <button class="border border-secondary btn btn-icon btn-flex btn-danger" data-repeater-delete type="button">
                                                                                <i class="la la-close"></i>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <div class="form-group mt-5">
                                                                <a href="javascript:;" data-repeater-create class="btn font-weight-bold btn-warning">
                                                                    <i class="ki-duotone ki-plus fs-3"></i>
                                                                    Add Partner(s)
                                                                </a>
                                                            </div>
                                                            <div class="col"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="flex-row-fluid">
                                    <div class="card card-custom" style="padding-bottom:100px">
                                        <div class="card-header">
                                            <div class="row">
                                                <h3 class="card-title">
                                                    HUB HEAD INFORMATION
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="headInput fv-row mb-10">
                                                <input type="hidden" value="@Model.HubId" id="hdnHub"></input>
                                                <label for="editHubName" class="required form-label">Hub</label>
                                                <span class="ms-1" data-bs-toggle="tooltip" title="This column refers to the Hub">
                                                    <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                                        <span class="path1"></span>
                                                        <span class="path2"></span>
                                                        <span class="path3"></span>
                                                    </i>
                                                </span>
                                                @Html.DropDownListFor(x => x.HubId,
                                                         new MultiSelectList(Enumerable.Empty<SelectListItem>()),
                                                         new
                                                         {
                                                             @id = "editHubName",
                                                             name = "editHubName",
                                                             @class = "form-select form-select-solid form-select-md fw-semibold",
                                                             data_control = "select2",
                                                             data_placeholder = "Choose Name of Hub",
                                                         })

                                            </div>
                                            <div class=" fv-row mb-10">
                                                <label for="editHshHubHeadInputs" class="required form-label">Hub Head</label>
                                                <span class="ms-1" data-bs-toggle="tooltip" title="This column refers to the Hub Head">
                                                    <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                                        <span class="path1"></span>
                                                        <span class="path2"></span>
                                                        <span class="path3"></span>
                                                    </i>
                                                </span>
                                                @Html.HiddenFor(x => x.HubId, new { @id = "editHubId" })
                                                @Html.HiddenFor(x => x.HubHeadId, new { @id = "editHubHeadId" })
                                                @Html.TextBoxFor(x => x.HubHeadName,
                                                         new
                                                         {
                                                             @id = "editHshHubHeadInput",
                                                             name = "EditHubHeadId",
                                                             @class = "form-control form-control-solid",
                                                             maxlength = 6000,
                                                             placeholder = "Automation is selected when a Hub has been choosen",
                                                             @readonly = "readonly",
                                                         })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="app-content flex-row-fluid">
                                        <div class="card card-custom" style="padding-bottom:60px">
                                            <div class="card-header">
                                                <div class="row">
                                                    <h3 class="card-title">
                                                        PIC INFORMATION
                                                    </h3>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="form-group row">
                                                    <div class="fv-row col-lg-5">
                                                        @if (@Model.PicFungsi != null)
                                                        {
                                                            <input type="hidden" value="@Model.PicFungsi.PicFungsiId" id="hdnPicInput"></input>
                                                        }
                                                        <label for="editPicInput" class="required form-label">Function - PIC</label>
                                                        <span class="ms-1" data-bs-toggle="tooltip" title="This column refers to the function of PIC">
                                                            <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                                                <span class="path1"></span>
                                                                <span class="path2"></span>
                                                                <span class="path3"></span>
                                                            </i>
                                                        </span>
                                                        @Html.DropDownListFor(x => x.PicFungsiId,
                                                                 new MultiSelectList(Enumerable.Empty<SelectListItem>()),
                                                                 new
                                                                 {
                                                                     @id = "editPicInput",
                                                                     @name = "EditPicFungsiId",
                                                                     @class = "form-select form-select-solid form-select-md fw-semibold",
                                                                     data_placeholder = "Choose PIC - Function Name - Company",
                                                                     data_control = "select2",
                                                                 })
                                                    </div>
                                                    <div class="fv-row col-lg-5">
                                                        @Html.HiddenFor(x => x.PicLevelId, new { @id = "picLevelId" })
                                                        <label for="editPicLevelInput" class="required form-label">PIC Level</label>
                                                        <span class="ms-1" data-bs-toggle="tooltip" title="This column refers to the level of PIC">
                                                            <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                                                <span class="path1"></span>
                                                                <span class="path2"></span>
                                                                <span class="path3"></span>
                                                            </i>
                                                        </span>
                                                        @Html.TextBoxFor(x => x.PicLevelName,
                                                                 new
                                                                 {
                                                                     @id = "editPicLevelInput",
                                                                     @name = "EditPicLevelId",
                                                                     @class = "form-control form-control-solid",
                                                                     data_placeholder = "Choose PIC Level",
                                                                     @readonly = "readonly",
                                                                 })
                                                    </div>
                                                </div>
                                                <div class="form-group mt-5 row">
                                                    <div id="editRepeaterPic">
                                                        @Html.HiddenFor(x => x.PicLevelMemberId, new { @id = "picLevelMemberId" })
                                                        <div class="form-group">
                                                            <div data-repeater-list="EditPicName">
                                                                <div data-repeater-item class="editPic mb-2">
                                                                    <div class="form-group row">
                                                                        <div class="fv-row col-lg-5 editPicFungsi">
                                                                            @Html.DropDownListFor(x => x.PicFungsi.PicFungsiId,
                                                                                     new MultiSelectList(Enumerable.Empty<SelectListItem>()),
                                                                                     new
                                                                                     {
                                                                                         @id = "editPicFungsiMemberInput",
                                                                                         @name = "EditPicMemberFungsiId",
                                                                                         @class = "form-select form-select-solid form-select-md fw-semibold editFungsiPicMember",
                                                                                         aria_label = "Choose PIC - Function Name - Company",
                                                                                         data_placeholder = "Choose PIC - Function Name - Company",
                                                                                     })
                                                                        </div>
                                                                        <div class="fv-row col-lg-5">
                                                                            @Html.TextBoxFor(x => x.PicLevelNameMember,
                                                                                     new
                                                                                     {
                                                                                         @id = "editPicLevelMemberInput",
                                                                                         @name = "EditPicMemberLevelId",
                                                                                         @class = "form-control form-control-solid editLevelPicMember",
                                                                                         maxlength = 6000,
                                                                                         placeholder = "Choose PIC Level",
                                                                                         @readonly = "readonly",
                                                                                     })
                                                                        </div>
                                                                        <div class="col-lg-2 d-flex align-items-end">
                                                                            <button class="border border-secondary btn btn-icon btn-flex btn-danger" data-repeater-delete type="button">
                                                                                <i class="la la-close"></i>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <div class="form-group mt-5">
                                                                <a href="javascript:;" data-repeater-create class="btn font-weight-bold btn-warning" id="editPICButton">
                                                                    <i class="ki-duotone ki-plus fs-3"></i>
                                                                    Add PIC
                                                                </a>
                                                            </div>
                                                            <div class="col"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-custom">
                                <div class="card-header">
                                    <div class="row">
                                        <h3 class="card-title">
                                            OPERATING METRICS
                                        </h3>
                                    </div>
                                </div>
                                <div class="card-body fs-6 py-15 px-10 py-lg-15 px-lg-15 text-gray-700">
                                    <div class="p-0">
                                        <div class="d-flex flex-stack mb-5">
                                            <div class="card-body">
                                                <div class="form-group row">
                                                    <div id="editOperatingMetrics">
                                                        <div class="form-group">
                                                            <div class="form-group row align-items-center">
                                                                <div class="fv-row col-lg-2" style="width:250px">
                                                                    <label for="editYearOperatingMetrics" class="required form-label">Year</label>
                                                                    <span class="ms-1" data-bs-toggle="tooltip" title="This column refers to the year of operating metrics">
                                                                        <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                                                            <span class="path1"></span>
                                                                            <span class="path2"></span>
                                                                            <span class="path3"></span>
                                                                        </i>
                                                                    </span>
                                                                </div>
                                                                <div class="fv-row col-lg-2" style="width:250px">
                                                                    <label for="editRevenueOperatingMetrics" class="required form-label">Revenue</label>
                                                                    <span class="ms-1" data-bs-toggle="tooltip" title="This column refers to the revenue of operating metrics">
                                                                        <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                                                            <span class="path1"></span>
                                                                            <span class="path2"></span>
                                                                            <span class="path3"></span>
                                                                        </i>
                                                                    </span>
                                                                </div>
                                                                <div class="fv-row col-lg-2" style="width:250px">
                                                                    <label for="editTotalAssetOperatingMetrics" class="required form-label">Total Assets</label>
                                                                    <span class="ms-1" data-bs-toggle="tooltip" title="This column refers to the total assets of operating metrics">
                                                                        <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                                                            <span class="path1"></span>
                                                                            <span class="path2"></span>
                                                                            <span class="path3"></span>
                                                                        </i>
                                                                    </span>
                                                                </div>
                                                                <div class="fv-row col-lg-2" style="width:250px">
                                                                    <label for="editEbitdaOperatingMetrics" class="required form-label">EBITDA</label>
                                                                    <span class="ms-1" data-bs-toggle="tooltip" title="This column refers to the Ebitda of operating metrics">
                                                                        <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                                                            <span class="path1"></span>
                                                                            <span class="path2"></span>
                                                                            <span class="path3"></span>
                                                                        </i>
                                                                    </span>
                                                                </div>
                                                                <div data-repeater-list="EditOperatingMetrics">
                                                                    <div data-repeater-item class="editOM">
                                                                        <div class="form-group mt-5 row align-items-center">
                                                                            <div class="fv-row col-lg-2" style="width:250px">
                                                                                @Html.DropDownListFor(x => x.OperatingMetrics.Year,
                                                                                         new MultiSelectList(Enumerable.Empty<SelectListItem>()),
                                                                                         new
                                                                                         {
                                                                                             @id = "editYearOperatingMetrics",
                                                                                             @class = "form-control year-operatingMetricsEdit year-operatingMetrics",
                                                                                             @type = "number",
                                                                                             data_placeholder = "Enter Year",
                                                                                         })
                                                                            </div>
                                                                            <div class="fv-row col-lg-2" style="width:250px">
                                                                                @Html.TextBoxFor(m => m.OperatingMetrics.RevenueToString, new
                                                                                    {
                                                                                        @id = "editRevenueOperatingMetrics",
                                                                                        @class = "form-control revenue-operatingMetrics",
                                                                                        maxlength = 15,
                                                                                        @type = "text",
                                                                                        placeholder = "Enter Revenue"
                                                                                    })
                                                                            </div>
                                                                            <div class="fv-row col-lg-2" style="width:250px">
                                                                                @Html.TextBoxFor(m => m.OperatingMetrics.TotalAssetToString, new
                                                                                    {
                                                                                        @id = "editTotalAssetOperatingMetrics",
                                                                                        @class = "form-control totalAssets-operatingMetrics",
                                                                                        maxlength = 15,
                                                                                        @type = "text",
                                                                                        placeholder = "Enter Total Assets"
                                                                                    })
                                                                            </div>
                                                                            <div class="fv-row col-lg-2" style="width:250px">
                                                                                @Html.TextBoxFor(m => m.OperatingMetrics.EbitdaToString, new
                                                                                    {
                                                                                        @id = "editEbitdaOperatingMetrics",
                                                                                        @class = "form-control ebitda-operatingMetrics",
                                                                                        maxlength = 15,
                                                                                        @type = "text",
                                                                                        placeholder = "Enter EBITDA"
                                                                                    })
                                                                            </div>
                                                                            <div class="fv-row col-lg-1 d-flex align-items-end">
                                                                                <label for="editClose" class="form-label"></label>
                                                                                <div class="input-group">
                                                                                    <button class="border border-secondary btn btn-icon btn-flex btn-danger" data-repeater-delete type="button">
                                                                                        <i class="la la-close"></i>
                                                                                    </button>
                                                                                </div>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <div class="form-group mt-5">
                                                                <a href="javascript:;" data-repeater-create class="btn font-weight-bold btn-warning">
                                                                    <i class="ki-duotone ki-plus fs-3"></i>
                                                                    Add Operating Metrics
                                                                </a>
                                                            </div>
                                                            <div class="col"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="app-content flex-row-fluid">
                    <div class="row">

                        <div class="col" align="right" style="padding-right: 40px;">
                            <button id="btnCancel" type="submit" class="btn font-weight-bold btn-secondary" onclick="location.href='@Url.Action("Index","ExistingFootprint")'">
                                Cancel
                            </button>
                            <button id="UpdateSubmitExistingFootprints" type="submit" class="btn font-weight-bold btn-primary mr-2" data-url="@Url.Action("UpdateForm", "ExistingFootprint")" data-callbackurl="@Url.Action("Index", "ExistingFootprint")">
                                <span class="indicator-label">
                                    Update
                                </span>
                                <span class="indicator-progress">
                                    Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
@*
<div id="UpdatePartialModal"></div>
<div id="CreatePartialModal"></div> *@
@section Scripts {
    <script>
        var param = (function (param) {
            param.prefix = '@globalParam.PrefixApiUrl';
            param.getExistingFootprintsById = '@globalParam.PrefixApiUrl' + "ApiExistingFootprints/GetExistingFootprintsById";
            param.getYearOperatingMetricById = '@globalParam.PrefixApiUrl' + "ApiExistingFootprints/GetYearOperatingMetricById";
            param.dataGrid = '@globalParam.PrefixApiUrl' + 'ApiExistingFootprints/ListOperatingMetricById' + '?guid=' + '@(Model.Id)';
            param.urlAction = '@controllerName/';
            param.updateGrid = '@Url.Action("UpdatePartial", "ExistingFootprint")';
            param.deleteGrid = '@Url.Action("DeleteOperatingMetric", "ExistingFootprint")';
            return param
        })(param || {});
    </script>
    <script src="~/js/form/base-url-api.js"></script>
    <script src="~/js/form/existingFootprintsUpdate.js"></script>
}