@section Styles {
    <link href="~/css/custom.css" rel="stylesheet" type="text/css" />
    <link href="~/css/popfilter.css" rel="stylesheet" type="text/css" />

}
@using Pertamina.IRIS.Models.Base
@inject GlobalVariableBaseModel globalParam
@model Pertamina.IRIS.Models.ViewModels.ProjectsToOfferDashboardViewModel
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Projects To Offer Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();

    string IsAdd = Pertamina.IRIS.App.Helpers.HtmlHelper.IsAdd(HttpContextAccessor.HttpContext.Session);
    string IsDelete = Pertamina.IRIS.App.Helpers.HtmlHelper.IsDelete(HttpContextAccessor.HttpContext.Session);
    string IsEdit = Pertamina.IRIS.App.Helpers.HtmlHelper.IsEdit(HttpContextAccessor.HttpContext.Session);
}
<div class="app-main flex-column flex-row-fluid">
    <div class="header-secondary flex-column-fluid">
        <div class="app-toolbar py-3 py-lg-6">
            <div class="app-container container-xxl d-flex flex-stack">
                <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
                    <div class="menu menu-gray-600 menu-active-primary menu-hover-light-primary menu-here-light-primary menu-show-light-primary fs-4" data-kt-menu="true">
                        <div class="menu-item here badge badge-light-danger badge-lg">
                            <a href="@Url.Action("Index", "ExistingFootprintsDashboard")" class="menu-link">
                                <span class="menu-title fw-bolder fs-4">Home</span>
                            </a>
                        </div>
                        <div class="menu-item">
                            <a href="@Url.Action("Index", "InternationalBusinessIntelligence")" class="menu-link">
                                <span class="menu-title">International Business Intelligence</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="app-main flex-column flex-row-fluid wrapper-40">
    <div class="app-content flex-column-fluid">
        <div class="app-container container-xxl">
            <div class="d-flex flex-column flex-xl-row">
                <div class="flex-lg-row-fluid">
                    <ul class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fw-bold fs-5 mb-5">
                        <li class="nav-item">
                            <a class="nav-link nav-link-red text-active-gray-900"
                               href="@Url.Action("Index", "ExistingFootprintsDashboard")"
                               aria-selected="false"
                               role="tab">
                                Existing Footprints
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-red text-active-gray-900"
                               href="@Url.Action("Index", "PotentialInitiativesDashboard")"
                               aria-selected="false"
                               role="tab">
                                Potential Initiatives
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-red text-active-gray-900"
                               href="@Url.Action("Index", "SignedAgreementDashboard")"
                               aria-selected="false"
                               role="tab">
                                Signed Agreement
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-red text-active-gray-900  active"
                               data-bs-toggle="tab"
                               href="@Url.Action("Index", "ProjectsToOfferDashboard")"
                               aria-selected="true"
                               role="tab">
                                Projects To Offer
                            </a>
                        </li>
                    </ul>
                    <div class="tab-pane fade show active" id="kt_ecommerce_customer_overview" role="tabpanel">
                        <div class="card card-flush mb-5">
                            <div class="card-body py-2 px-2 py-lg-2 px-lg-2 text-gray-700">
                                <div class="row py-2 justify-content-end">
                                    <div class="col-3">
                                        @Html.DropDownListFor(x => x.ProvinsiIndonesiaId,
                                                 new MultiSelectList(Enumerable.Empty<SelectListItem>()),
                                                 new
                                                 {
                                                     @id = "ddlNegaraMitra",
                                                     @class = "form-select form-select-solid form-select-sm fw-semibold border-gray",
                                                     aria_label = "Country",
                                                     data_control = "select2",
                                                     data_placeholder = "Country",
                                                     data_allow_clear = "true"
                                                 })
                                    </div>
                                    <div class="col-3">
                                        @Html.DropDownListFor(x => x.StreamBusinessId,
                                                 new MultiSelectList(Enumerable.Empty<SelectListItem>()),
                                                 new
                                                 {
                                                     @id = "ddlStreamBusiness",
                                                     @class = "form-select form-select-solid form-select-sm fw-semibold border-gray",
                                                     aria_label = "Stream",
                                                     data_control = "select2",
                                                     data_placeholder = "Stream",
                                                     data_allow_clear = "true"
                                                 })
                                    </div>
                                    <div class="col-3">
                                        @Html.DropDownListFor(x => x.EntitasPertaminaId,
                                                 new MultiSelectList(Enumerable.Empty<SelectListItem>()),
                                                 new
                                                 {
                                                     @id = "ddlEntitasPertamina",
                                                     @class = "form-select form-select-solid form-select-sm fw-semibold border-gray",
                                                     aria_label = "Entitas",
                                                     data_control = "select2",
                                                     data_placeholder = "Entities",
                                                     data_allow_clear = "true"
                                                 })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            @if (Model.Metrics != null)
                            {
                                foreach (var metric in Model.Metrics)
                                {
                                    <div class="col-sm-4">
                                        <div class="card card-flush mb-5">
                                            <div class="card-header padding-metrics-header border-0 min-h-2px">
                                                <div class="card-title m-0">
                                                    <span class="fs-8 text-gray-600">@string.Format(metric.Title, metric.Year)</span>
                                                </div>
                                            </div>
                                            <div class="card-body padding-metrics-body min-h-2px mb-3">
                                                <div class="metrics-value px-0">@metric.Point</div>
                                            </div>
                                            <div class="card-footer border-1 padding-metrics-footer min-h-30px">
                                                <div class="d-flex align-items-center justify-content-between w-100 mt-auto">
                                                    <div class="symbol-group symbol-hover mt-2 mb-2">
                                                        <div class="symbol symbol-20px symbol-2by3 me-2" data-bs-toggle="tooltip">
                                                            <i class="@metric.Src" style="color: @metric.ColorCode;"></i>
                                                        </div>
                                                        <div class="fs-4 fw-bold text-gray-600" data-kt-countup="true" data-kt-countup-value="@metric.Percent" data-kt-countup-suffix="%">0</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                        <div class="tab-pane fade show active" id="kt_ecommerce_customer_overview" role="tabpanel">
                            <div class="card card-flush mb-5">
                                <div class="card-body py-2 px-2 py-lg-2 px-lg-2 text-gray-700">
                                    <div class="row py-2 justify-content-end">
                                        <div id="chartdiv" class="chartmap-project-to-offer"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex-column flex-lg-row-auto w-100 w-xl-350px mb-5 ms-lg-5">
                    <div class="d-flex align-items-center justify-content-between w-100 mt-auto mb-3 popover-container">
                        <span class="fw-bold fs-4 px-0 py-2">High Priority Projects To Offer</span>
                        <a class="fw-bold align-items-right pointer popover-button">
                            <i class="fa fa-long-arrow-alt-up"></i>
                            <i class="fa fa-long-arrow-alt-down"></i>
                        </a>
                        <div class="popover-contentProjectToOfferDashboard">
                            <form class="form align-items-center">
                                <h4 class="text-center mb-6">Sorting High Priority</h4>
                                @using (Html.BeginForm("Index", "ProjectsToOfferDashboard", FormMethod.Get, new { id = "sortingForm" }))
                                {
                                    <div class="card-body">
                                        <div class="form-group row">
                                            @Html.DropDownList("sortingHighPriority", new List<SelectListItem>
                                        {
                                        new SelectListItem { Text = "Target Project Start Date", Value = "TargetProject", Selected = ViewBag.SortingHighPriority =="TargetProject"},
                                        new SelectListItem { Text = "Potential Revenue", Value = "PotentialRevenue" ,  Selected = ViewBag.SortingHighPriority =="PotentialRevenue"},
                                        new SelectListItem { Text = "Estimated CAPEX", Value = "EstimatedCapex",  Selected = ViewBag.SortingHighPriority =="EstimatedCapex"}
                                        }, new
                                                                        {
                                                                            id = "ddlCapexSort",
                                                                            @class = "form-select form-select-solid form-select-sm fw-semibold border-gray",
                                                                            placeholder = "Select Option"
                                                                        })
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-lg-12 mt-4">
                                                <div class="radio-inline">
                                                    <label class="radio radio-solid">
                                                        <input type="radio" name="selectRadio" checked="checked" value="asc" , @(ViewBag.Asc == "asc" ? "checked" : "") />
                                                        <span></span>
                                                        ASC
                                                    </label>
                                                    <label class="radio radio-solid">
                                                        <input type="radio" name="selectRadio" value="desc" , @(ViewBag.Desc=="desc" ? "checked" : "") />
                                                        <span></span>
                                                        DESC
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 text-center mt-4">
                                            <button type="submit" class="btn btn-danger btn-sm mx-2" value="reset" name="reset">Reset</button>
                                            <button type="submit" class="btn btn-primary btn-sm mx-2">
                                                Apply
                                            </button>
                                        </div>
                                    </div>
                                }
                            </form>
                        </div>
                    </div>
                    <div class="scroll h-665px">
                        @if (!(Model.HighPrioritys is null))
                        {
                            @foreach (var high in Model.HighPrioritys)
                            {
                                <div class="card card-flush mb-6 pointer">
                                    <a href="#"
                                       data-toggle="detail-modal"
                                       data-target="#highPriorityModal"
                                       data-url="@Url.Action("Detail", "ProjectsToOfferDashboard", new { guid = high.Id })">

                                        <div class="card-body padding-high-priority-card-body min-h-2px mb-3">
                                            <div class="d-flex justify-content-between">
                                                <h6 class="card-title text-muted col-md-7" style="font-size:14px">@high.NamaProyek</h6>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <p class="mb-0 text-muted small" style="font-size:14px"><strong>@high.TypeOfPartnerNeeded</strong></p>
                                                    <p class="text-muted small" style="font-size:10px">Type Of Partner Needed</p>
                                                </div>
                                                <div class="col">
                                                    <p class="mb-0 text-muted small" style="font-size:14px"><strong>@string.Format("{0:d/MM/yy}", high.CreateDate)</strong></p>
                                                    <p class="text-muted small" style="font-size:10px">Target Project Start Date</p>
                                                </div>
                                                <div class="col">
                                                    <p class="mb-0 text-muted small" style="font-size:14px"><strong>@high.PotentialRevenuePerYearToString</strong></p>
                                                    <p class="text-muted small" style="font-size:10px">Potential Revenue</p>
                                                </div>
                                                <div class="col">
                                                    <p class="mb-0 text-muted small" style="font-size:14px"><strong>@high.CapexToString</strong></p>
                                                    <p class="text-muted small" style="font-size:10px">Estimated CAPEX</p>
                                                </div>
                                            </div>
                                            <div class="card-footer border-1 padding-high-priority-card-footer min-h-30px">
                                                <div class="d-flex align-items-center justify-content-between w-100 mt-auto">
                                                    <div class="symbol-group symbol-hover mt-2 mb-2">
                                                        <div class="symbol symbol-20px symbol-2by3 me-4" data-bs-toggle="tooltip" title="@high.NegaraMitra">
                                                            @if (high.ExistsFlag)
                                                            {
                                                                <img class="symbol-label" src="@high.NegaraMitra.Flag" alt="Pic">
                                                            }
                                                            else
                                                            {
                                                                <img class="symbol-label" src="~/assets/media/flags/globe.svg" alt="Pic">
                                                            }

                                                        </div>
                                                        @if (@high.HubHead.Name != null)
                                                        {
                                                            <div class="symbol symbol-20px symbol-circle" data-bs-toggle="tooltip" title="@high.HubHead.Name">
                                                                <span class="symbol-label bg-info text-inverse-info fw-bold">@high.HubHead.Name.Substring(0, 1)</span>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="symbol symbol-20px symbol-circle" data-bs-toggle="tooltip" title="-">
                                                                <span class="symbol-label bg-info text-inverse-info fw-bold">-</span>
                                                            </div>
                                                        }
                                                        @foreach (var p in high.PICName)
                                                        {
                                                            <div class="symbol symbol-20px symbol-circle" data-bs-toggle="tooltip" title="@p">
                                                                <span class="symbol-label bg-info text-inverse-info fw-bold">@p.Substring(0, 1)</span>
                                                            </div>
                                                        }
                                                    </div>
                                                    <div>
                                                        <span class="fs-8 text-gray-400 px-" style="font-size:8px">@high.UpdatedWording</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            }
                        }
                    </div>

                </div>
            </div>
        </div>

        <div class="app-container">
            <div class="d-flex flex-column flex-xl-row">
                <div class="flex-lg-row-fluid">
                </div>
                <div class="flex-column flex-lg-row-auto w-100 w-xl-350px mb-5 ms-lg-5">
                </div>
            </div>
        </div>


        <div class="app-container container-xxl">
            <div class="card card-flush">
                <div class="card-body fs-6 py-10 px-10 py-lg-10 px-lg-10 text-gray-700">
                    <div class="p-0">
                        <div class="d-flex flex-stack mb-5">
                            <div class="d-flex align-items-center position-relative my-1">
                                <i class="ki-duotone ki-magnifier fs-1 position-absolute ms-6"><span class="path1"></span><span class="path2"></span></i>
                                <input id="searchInput" type="text" data-kt-docs-table-filter="search" class="form-control form-control-solid w-250px ps-15" placeholder="Search" />
                                <span class="ms-1" data-bs-toggle="tooltip" title="search is applied to NAMA PROYEK, PIC, HUB HEAD, Potential Revenue, Estimates CAPEX, Progress">
                                    <i class="ki-duotone ki-information-5 text-gray-500 fs-1">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                        <span class="path3"></span>
                                    </i>
                                </span>
                            </div>
                        </div>
                        <table id="dataTable" class="table align-middle table-row-dashed fs-6" style="width: 100%;">
                            <thead>
                                <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
                                    <th>NAMA PROYEK</th>
                                    <th>PIC</th>
                                    <th>HUB HEAD</th>
                                    <th>Potential Revenue($ mn)</th>
                                    <th>Estimates CAPEX ($ mn)</th>
                                    <th>Progress</th>
                                </tr>
                            </thead>
                            <tbody class="text-gray-600 fw-semibold">
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="DetailPartialModal"></div>
@section Scripts {
    <script>
        var param = (function (param) {
            param.urlAction = '@globalParam.PrefixRootName' + '@controllerName/';
            param.prefix = '@globalParam.PrefixApiUrl';
            param.dataGrid = '@globalParam.PrefixApiUrl' + 'ApiProjectsToOfferDashboard/List';
            param.urlProvincesMap = '@globalParam.PrefixApiUrl' + 'ApiProjectsToOfferDashboard/urlProvincesMap';
            return param;
        })(param || {});
    </script>

    <script src="~/lib/amcharts/index.js"></script>
    <script src="~/lib/amcharts/map.js"></script>
    <script src="~/lib/amcharts/worldLow.js"></script>
    <script src="~/lib/amcharts/indonesiaLow.js"></script>
    <script src="~/lib/amcharts/Animated.js"></script>
    <script src="~/lib/amcharts/countries2.js"></script>
    <script src="~/js/form/projectsToOfferDashboardMap.js"></script>
    <script src="~/js/form/projectsToOfferDashboard.js"></script>
    <script src="~/js/form/base-url-api.js"></script>

}