@using Pertamina.IRIS.Models.Base
@inject GlobalVariableBaseModel globalParam

@{
    ViewData["Title"] = "Master Fungsi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-main flex-column flex-row-fluid">
    <div class="d-flex flex-column flex-column-fluid">
        <div class="app-toolbar py-3 py-lg-6">
            <div class="app-container container-xxl d-flex flex-stack">
                <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
                    <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">Fungsi</h1>
                </div>
            </div>
        </div>
        <div class="app-content flex-column-fluid">
            <div class="app-container container-xxl">
                <div class="card card-flush">
                    <div class="card-body fs-6 py-15 px-10 py-lg-15 px-lg-15 text-gray-700">
                        <div class="p-0">
                            <div class="d-flex flex-stack mb-5">
                                <div class="d-flex align-items-center position-relative my-1">
                                    <i class="ki-duotone ki-magnifier fs-1 position-absolute ms-6"><span class="path1"></span><span class="path2"></span></i>
                                    <input type="text" data-kt-docs-table-filter="search" class="form-control form-control-solid w-250px ps-15" placeholder="Search" />
                                    
                                    <span class="ms-1" data-bs-toggle="tooltip" title="Search is applied to NAMA FUNGSI column">
                                        <i class="ki-duotone ki-information-5 text-gray-500 fs-1">
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                            <span class="path3"></span>
                                        </i>
                                    </span>
                                </div>
                                <div class="d-flex justify-content-end" data-kt-docs-table-toolbar="base">
                                    <button id="btnCreate" type="button" class="btn btn-primary"
                                            data-toggle="detail-modal"
                                            data-target="#CreatePartialComponent"
                                            data-url="@Url.Action("Create", "Fungsi")">
                                        <i class="ki-duotone ki-plus fs-2"></i>
                                        Add Fungsi
                                    </button>
                                </div>
                            </div>
                            <table id="dataTable" class="table align-middle table-row-dashed fs-6 gy-5">
                                <thead>
                                    <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
                                        <th>ENTITAS PERTAMINA</th>
                                        <th>NAMA FUNGSI</th>
                                        <th>DESKRIPSI</th>
                                        <th>LAST MODIFIED</th>
                                        <th class="text-end min-w-100px">ACTIONS</th>
                                    </tr>
                                </thead>
                                <tbody class="text-gray-600 fw-semibold">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="CreatePartialModal"></div>
<div id="UpdatePartialModal"></div>

@section Scripts{
    <script>
        var param = (function (param) {
            param.prefix = '@globalParam.PrefixApiUrl';
            param.dataGrid = '@globalParam.PrefixApiUrl' + 'ApiFungsi/List';
            param.deleteGrid = '@Url.Action("Delete", "Fungsi")';
            param.updateGrid = '@Url.Action("Update", "Fungsi")';
            return param;
        })(param || {});
    </script>
    <script src="~/js/form/base-url-api.js"></script>
    <script src="~/js/form/fungsi.js"></script>
}