@using Pertamina.IRIS.Models.Base
@inject GlobalVariableBaseModel globalParam
@model Pertamina.IRIS.Models.ViewModels.OpportunityViewModel

@{
    ViewData["Title"] = "View Projects to Offer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-main flex-column flex-row-fluid">
    <div class="d-flex flex-column flex-column-fluid">
        <div class="app-toolbar py-3 py-lg-6">
            <div class="app-container container-xxl d-flex flex-stack">
                <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
                    <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">Detail Projects to Offer</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="app-content flex-column-fluid">
        <div class="app-container container-xxl">
            <div class="card card-flush">
                <div class="card-body fs-6 py-10 px-10 py-lg-10 px-lg-10 text-gray-700">
                    <div class="row mb-7">
                        <div class="col-lg-12">
                            <span class="fw-bold fs-6 text-gray-800">Header</span>
                        </div>
                    </div>
                    <div class="row mb-7">
                        <!--begin::Label-->
                        <label class="col-lg-4 fw-semibold text-muted">Project Name</label>
                        <!--end::Label-->
                        <!--begin::Col-->
                        <div class="col-lg-8">
                            @if (@Model.ReadNamaProyek != null)
                            {
                                <span class="fw-bold fs-6 text-gray-800">: @Model.ReadNamaProyek</span>
                            }
                            else
                            {
                                <span class="fw-bold fs-6 text-gray-800">:</span>
                            }
                        </div>
                        <!--end::Col-->
                    </div>
                    <div class="row mb-7">
                        <!--begin::Label-->
                        <label class="col-lg-4 fw-semibold text-muted">Deliverable</label>
                        <!--end::Label-->
                        <!--begin::Col-->
                        <div class="col-lg-8">
                            @if (Model.ReadDeliverables != null)
                            {
                                <span class="fw-bold fs-6 text-gray-800">: @Model.ReadDeliverables</span>
                            }
                            else
                            {
                                <span class="fw-bold fs-6 text-gray-800">:</span>
                            }
                        </div>
                        <!--end::Col-->
                    </div>
                    <div class="row mb-7">
                        <!--begin::Label-->
                        <label class="col-lg-4 fw-semibold text-muted">Stream Business</label>
                        <!--end::Label-->
                        <!--begin::Col-->
                        <div class="col-lg-8">
                            <div class="fw-bold fs-6 text-gray-800">
                                @if (Model.ReadStreamBusiness != null)
                                {
                                    @foreach (var rec in Model.ReadStreamBusiness)
                                    {
                                        if (rec == Model.ReadStreamBusiness.FirstOrDefault())
                                        {
                                            <span>: <i class="fa-solid fa-caret-right"></i> @rec.Name</span>

                                        }
                                        else
                                        {
                                            <br>

                                            <span>&nbsp;&nbsp;<i class="fa-solid fa-caret-right"></i> @rec.Name</span>
                                        }
                                    }
                                }
                                else
                                {
                                    <span class="fw-bold fs-6 text-gray-800">:</span>
                                }
                            </div>
                        </div>
                        <!--end::Col-->
                    </div>
                    <div class="row mb-7">
                        <!--begin::Label-->
                        <label class="col-lg-4 fw-semibold text-muted">Existing Partner(s)</label>
                        <!--end::Label-->
                        <!--begin::Col-->
                        <div class="col-lg-8">
                            <div class="fw-bold fs-6 text-gray-800">
                                @if (Model.ReadPartner != null)
                                {
                                    @foreach (var rec in Model.ReadPartner)
                                    {
                                        if (rec == Model.ReadPartner.FirstOrDefault())
                                        {
                                            <span>: <i class="fa-solid fa-caret-right"></i> @rec</span>

                                        }
                                        else
                                        {
                                            <br><span>&nbsp;&nbsp;<i class="fa-solid fa-caret-right"></i> @rec</span>
                                        }
                                    }
                                }
                                else
                                {
                                    <span class="fw-bold fs-6 text-gray-800">:</span>
                                }
                            </div>
                        </div>
                        <!--end::Col-->
                    </div>
                    <div class="row mb-7">
                        <div class="col-lg-12">
                            <span class="fw-bold fs-6 text-gray-800">Project Information</span>
                        </div>
                    </div>
                    <div class="row mb-7">
                        <!--begin::Label-->
                        <label class="col-lg-4 fw-semibold text-muted">Potential Revenue</label>
                        <!--end::Label-->
                        <!--begin::Col-->
                        <div class="col-lg-8">
                            <div class="fw-bold fs-6 text-gray-800">
                                @if (@Model.PotentialRevenuePerYear != null)
                                {
                                    <span class="fw-bold fs-6 text-gray-800">: @Model.PotentialRevenuePerYearToString</span>
                                }
                                else
                                {
                                    <span class="fw-bold fs-6 text-gray-800">:</span>
                                }
                            </div>
                        </div>
                        <!--end::Col-->
                    </div>
                    <div class="row mb-7">
                        <!--begin::Label-->
                        <label class="col-lg-4 fw-semibold text-muted">Capex</label>
                        <!--end::Label-->
                        <!--begin::Col-->
                        <div class="col-lg-8">
                            <div class="fw-bold fs-6 text-gray-800">
                                @if (@Model.Capex != null)
                                {
                                    <span class="fw-bold fs-6 text-gray-800">: @Model.CapexToString</span>
                                }
                                else
                                {
                                    <span class="fw-bold fs-6 text-gray-800">:</span>
                                }
                            </div>
                        </div>
                        <!--end::Col-->
                    </div>
                    <div class="row mb-7">
                        <!--begin::Label-->
                        <label class="col-lg-4 fw-semibold text-muted">Timeline</label>
                        <!--end::Label-->
                        <!--begin::Col-->
                        <div class="col-lg-8">
                            @if (@Model.ReadTimeline != null)
                            {
                                <span class="fw-bold fs-6 text-gray-800">: @Model.ReadTimeline</span>
                            }
                            else
                            {
                                <span class="fw-bold fs-6 text-gray-800">:</span>
                            }
                        </div>
                        <!--end::Col-->
                    </div> 
                    <div class="row mb-7">
                        <!--begin::Label-->
                        <label class="col-lg-4 fw-semibold text-muted">Type Of Partner Needed</label>
                        <!--end::Label-->
                        <!--begin::Col-->
                        <div class="col-lg-8">
                            @if (@Model.ReadTimeline != null)
                            {
                                <span class="fw-bold fs-6 text-gray-800">: @Model.TypeOfPartnerNeeded</span>
                            }
                            else
                            {
                                <span class="fw-bold fs-6 text-gray-800">:</span>
                            }
                        </div>
                        <!--end::Col-->
                    </div>
                    <div class="row mb-7">
                        <!--begin::Label-->
                        <label class="col-lg-4 fw-semibold text-muted">Project Area - Partner Location (Country)</label>
                        <!--end::Label-->
                        <!--begin::Col-->
                        <div class="col-lg-8">
                            <div class="fw-bold fs-6 text-gray-800">
                                @if (Model.ReadNegaraMitra != null)
                                {
                                    @foreach (var rec in Model.ReadNegaraMitra)
                                    {
                                        if (rec == Model.ReadNegaraMitra.FirstOrDefault())
                                        {
                                            <span>: <i class="fa-solid fa-caret-right"></i> @rec.NamaKawasan - @rec.NamaNegara</span>

                                        }
                                        else
                                        {
                                            <br>

                                            <span>&nbsp;&nbsp;<i class="fa-solid fa-caret-right"></i> @rec.NamaKawasan - @rec.NamaNegara</span>
                                        }
                                    }
                                }
                                else
                                {
                                    <span class="fw-bold fs-6 text-gray-800">:</span>
                                }
                            </div>
                        </div>
                        <!--end::Col-->
                    </div> 
                    <div class="row mb-7">
                        <!--begin::Label-->
                        <label class="col-lg-4 fw-semibold text-muted">Project Location (Province)</label>
                        <!--end::Label-->
                        <!--begin::Col-->
                        <div class="col-lg-8">
                            <div class="fw-bold fs-6 text-gray-800">
                                @if (Model.ReadLokasiProyekProvinsi != null && Model.ReadLokasiProyekProvinsi.Count!=0)
                                {
                                    @foreach (var rec in Model.ReadLokasiProyekProvinsi)
                                    {
                                        if (rec == Model.ReadLokasiProyekProvinsi.FirstOrDefault())
                                        {
                                            <span>: <i class="fa-solid fa-caret-right"></i> @rec</span>

                                        }
                                        else
                                        {
                                            <br>

                                            <span>&nbsp;&nbsp;<i class="fa-solid fa-caret-right"></i> @rec</span>
                                        }
                                    }
                                }
                                else
                                {
                                    <span class="fw-bold fs-6 text-gray-800">: - </span>
                                }
                            </div>
                        </div>
                        <!--end::Col-->
                    </div>
                    <div class="row mb-7">
                        <!--begin::Label-->
                        <label class="col-lg-4 fw-semibold text-muted">Holding/Sub Holding - Pertamina Entity</label>
                        <!--end::Label-->
                        <!--begin::Col-->
                        <div class="col-lg-8">
                            <div class="fw-bold fs-6 text-gray-800">
                                @if (Model.ReadEntitasPertamina != null)
                                {
                                    @foreach (var rec in Model.ReadEntitasPertamina)
                                    {
                                        if (rec == Model.ReadEntitasPertamina.FirstOrDefault())
                                        {
                                            <span>: <i class="fa-solid fa-caret-right"></i> @rec.NameHsh - @rec.CompanyName</span>

                                        }
                                        else
                                        {
                                            <br>

                                            <span>&nbsp;&nbsp;<i class="fa-solid fa-caret-right"></i> @rec.NameHsh - @rec.CompanyName</span>
                                        }
                                    }
                                }
                                else
                                {
                                    <span class="fw-bold fs-6 text-gray-800">:</span>
                                }
                            </div>
                        </div>
                        <!--end::Col-->
                    </div>
                    
                    <div class="row mb-7">
                        <div class="col-lg-12">
                            <span class="fw-bold fs-6 text-gray-800">PIC Information</span>
                        </div>
                    </div>
                    <div class="row mb-7">
                        <!--begin::Label-->
                        <label class="col-lg-4 fw-semibold text-muted">PIC Name - Lead</label>
                        <!--end::Label-->
                        <!--begin::Col-->
                        <div class="col-lg-8">
                            <div class="fw-bold fs-6 text-gray-800">
                                @if (Model.ReadPicFungsiLead != null)
                                {
                                    <span>: <i class="fw-bold fs-6 text-gray-800"></i> @Model.ReadPicFungsiLead.PicName</span>

                                }
                                else
                                {
                                    <span class="fw-bold fs-6 text-gray-800">:</span>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row mb-7">
                        <!--begin::Label-->
                        <label class="col-lg-4 fw-semibold text-muted">PIC Name - Member</label>
                        <!--end::Label-->
                        <!--begin::Col-->
                        <div class="col-lg-8">
                            <div class="fw-bold fs-6 text-gray-800">
                                @if (Model.ReadPicFungsi != null)
                                {
                                    @foreach (var rec in Model.ReadPicFungsi)
                                    {
                                        if (rec == Model.ReadPicFungsi.FirstOrDefault())
                                        {
                                            <span>: <i class="fa-solid fa-caret-right"></i> @rec.PicName</span>

                                        }
                                        else
                                        {
                                            <br>

                                            <span>&nbsp;&nbsp;<i class="fa-solid fa-caret-right"></i> @rec.PicName</span>
                                        }
                                    }
                                }
                                else
                                {
                                    <span class="fw-bold fs-6 text-gray-800">: -</span>
                                }
                            </div>
                        </div>
                    </div>
                   
                  
                    <div class="row mb-7">
                        <div class="col-lg-12">
                            <span class="fw-bold fs-6 text-gray-800">Scope and Progress</span>
                        </div>
                    </div>
                  
                    <div class="row mb-7">
                        <!--begin::Label-->
                        <label class="col-lg-4 fw-semibold text-muted">Projects Profile</label>
                        <!--end::Label-->
                        <!--begin::Col-->
                        <div class="col-lg-8">
                            @if (Model.ReadProjectProfile != null)
                            {
                                <span class="fw-bold fs-6 text-gray-800">: @Model.ReadProjectProfile</span>
                            }
                            else
                            {
                                <span class="fw-bold fs-6 text-gray-800">:</span>
                            }
                        </div>
                        <!--end::Col-->
                    </div>
                    <div class="row mb-7">
                        <!--begin::Label-->
                        <label class="col-lg-4 fw-semibold text-muted">Project Readiness</label>
                        <!--end::Label-->
                        <!--begin::Col-->
                        <div class="col-lg-8">
                            <div class="fw-bold fs-6 text-gray-800">
                                @if (Model.ReadKesiapanProyek != null)
                                {
                                    @foreach (var rec in Model.ReadKesiapanProyek)
                                    {
                                        if (rec == Model.ReadKesiapanProyek.FirstOrDefault())
                                        {
                                            <span>: <i class="fa-solid fa-caret-right"></i> @rec.Name</span>

                                        }
                                        else
                                        {
                                            <br>

                                            <span>&nbsp;&nbsp;<i class="fa-solid fa-caret-right"></i> @rec.Name</span>
                                        }
                                    }
                                }
                                else
                                {
                                    <span class="fw-bold fs-6 text-gray-800">:</span>
                                }
                            </div>
                        </div>
                        <!--end::Col-->
                    </div>
                    <div class="row mb-7">
                        <!--begin::Label-->
                        <label class="col-lg-4 fw-semibold text-muted">Progress</label>
                        <!--end::Label-->
                        <!--begin::Col-->
                        <div class="col-lg-8">
                            @if (Model.ReadProgress != null)
                            {
                                <span class="fw-bold fs-6 text-gray-800">: @Model.ReadProgress</span>
                            }
                            else
                            {
                                <span class="fw-bold fs-6 text-gray-800">:</span>
                            }
                        </div>
                        <!--end::Col-->
                    </div>
                   
                    <div class="row mb-7">
                        <!--begin::Label-->
                        <label class="col-lg-4 fw-semibold text-muted">Collaboration Target</label>
                        <!--end::Label-->
                        <!--begin::Col-->
                        <div class="col-lg-8">
                            <div class="fw-bold fs-6 text-gray-800">
                                @if (Model.ReadTargetMitra != null)
                                {
                                    @foreach (var rec in Model.ReadTargetMitra)
                                    {
                                        if (rec == Model.ReadTargetMitra.FirstOrDefault())
                                        {
                                            <span>: <i class="fa-solid fa-caret-right"></i> @rec.Name</span>

                                        }
                                        else
                                        {
                                            <br><span>&nbsp;&nbsp;<i class="fa-solid fa-caret-right"></i> @rec.Name</span>
                                        }
                                    }
                                }
                                else
                                {
                                    <span class="fw-bold fs-6 text-gray-800">:</span>
                                }
                            </div>
                        </div>
                        <!--end::Col-->
                    </div>
                    <div class="row mb-7">
                        <!--begin::Label-->
                        <label class="col-lg-4 fw-semibold text-muted">Additional Note</label>
                        <!--end::Label-->
                        <!--begin::Col-->
                        <div class="col-lg-8">
                            @if (Model.ReadCatatanTambahan != null)
                            {
                                <span class="fw-bold fs-6 text-gray-800">: @Model.ReadCatatanTambahan</span>
                            }
                            else
                            {
                                <span class="fw-bold fs-6 text-gray-800">:</span>
                            }
                        </div>
                        <!--end::Col-->
                    </div>
                    <div class="row mb-15">
                        <!--begin::Label-->
                        <label class="col-lg-4 fw-semibold text-muted">Follow Up</label>
                        <!--end::Label-->
                        <!--begin::Col-->
                        <div class="col-lg-8">
                            @if (Model.ReadTindakLanjut != null)
                            {
                                <span class="fw-bold fs-6 text-gray-800">: @Model.ReadTindakLanjut</span>
                            }
                            else
                            {
                                <span class="fw-bold fs-6 text-gray-800">:</span>
                            }
                        </div>
                        <!--end::Col-->
                    </div>
                    <div class="row mb-2">
                        <div class="col-lg-12 d-flex justify-content-end pb-0 px-0">
                            <button id="btnCancel" type="submit" class="btn font-weight-bold btn-secondary" onclick="location.href='@Url.Action("Index","ProjectsToOffer")'">
                                Back
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>